[2015-06-29 01:29] Keno opened #1 "Instructions for setting up a GPU Instance on Amazon for testing"
[code]

Now verify that installation was successful:

[code]

To get julia/Cxx follow the instructions in the Cxx.jl README.
To install ArrayFire:

[code]

[2015-06-30 21:37] Keno opened #2 "TODO List"
Things I have done so far since my update on the list:
- Fix arrayfire's build system to work well for us
- Integrate the subarray mechanism (this turned out to be be a lot easier than expected, but the build system turned out harder, so it balances out)
- A few more library wrappers

At this point we can run the example in arrayfire's README without any trouble.

Things to do:
- [ ] Figure out bi

[2016-02-09 04:22] ranjanan opened #5 "Strange pivots array in `lufact`"
When one does
[code]
one gets `L`, `U`, `P`, but `P` doesn't return the same values as `P` returned from `lu(a::Array)`

[2016-02-09 04:36] ranjanan commented on #5
`P` seems to an array of zeros / very low values.

[2016-02-09 04:40] ranjanan opened #6 "Different `tau` array in qr"
The array `tau` that's returned looks different from what Julia returns. Why are they different?

[2016-02-09 05:19] pavanky commented on #6
@ranjanan I think `tau` is implementation dependent.

[2016-02-09 05:50] ranjanan commented on #6
Yes, this is a placeholder for me to check how the `arrayfire` and Julia implementations are different.

[2016-02-09 07:07] ranjanan commented on #5
Fixed by #7

[2016-02-09 14:48] pavanky commented on #6
I am just saying `tau` is never used by itself so the values shouldn't matter. It is always used along with the other outputs from QR.

[2016-02-09 15:37] alanedelman commented on #6
That it's different is not to me as important as whether it's internally consistent.

[2016-02-10 04:15] #5 closed

[2016-02-10 07:18] ranjanan opened #8 "Dispatch issue"
Julia dispatch issue:
Let’s say we have `AFArray <: AbstractArray{T,4}`

now there are methods that are dispatched across `AFArray`  and `AFAbstractArray`

[code]

now suppose `a` is an `AFArray`, and I call `sum(a)`,  Julia should call `f2`, but doesn't.

[2016-02-10 07:20] ranjanan commented on #8
@vtjnash suggests defining f2 as `sum{T}(a::AbstractArray{T,4})` to get it to work. Have to experiment with it.

[2016-02-10 18:07] ranjanan opened #9 "`inv` and `det` do not support integer types"
[code]
Both `det` and `inv` return with a `ArrayFire Exception(202): Invalid input argument`

[2016-02-10 19:21] pavanky commented on #9
@ranjanan none of the linear algebra functions (including matrix multiply, LU, QR, Cholesky, SVD, solve) support integer types. This is a limitation of ArrayFire.

[2016-02-10 19:21] pavanky commented on #9
Only f32, f64, c32, c64 types are supported.

[2016-02-11 04:14] ranjanan commented on #9
Oh okay, thanks for clarifying.

[2016-02-11 04:16] ViralBShah commented on #9
This is the case with LAPACK too. I wouldn't worry about this for now.

[2016-02-11 04:19] ViralBShah opened #10 "README needs to say how to install"
It would be nice if the README could have instructions for installation, and also examples.

[2016-02-11 04:20] ViralBShah commented on #10
Some basic performance numbers that show off the capabilities will also be good to have.

[2016-02-11 04:34] ranjanan commented on #10
Sure. Will do soon.

[2016-02-11 07:10] ranjanan opened #11 "Need to write tests"
A lot of tests are needed.

[2016-02-12 04:48] ranjanan opened #12 "Linear Algebra routines are slow"
Some linear algebra routines are slow on ArrayFire.

[code]

[2016-02-12 07:19] ViralBShah commented on #12
Can you post `chol` also? It seems strange that chol is so much faster, while the others are all slower. Something seems amiss.

Cc @andreasnoack

[2016-02-12 07:43] pavanky commented on #12
Is this on CUDA ?

[2016-02-12 07:49] pavanky commented on #12
Keep in mind that many consumer GPUs have terrible double precision performance (5-10x slower than single precision).

On top of that a couple of routines (QR and SVD) are slow in CUDA 7.5 for square matrices. Apparently cuSolver has been optimized for thin + tall matrices and it will be fixed in later releases.

[2016-02-12 13:15] ViralBShah commented on #12
Makes sense to optimize for the skinny case. This is on Amazon GPU instances, I believe.

[2016-02-12 15:30] pavanky commented on #12
The Amazon GPU instance is a virtualized GRID gpu based on GK 104. I can't find the specific numbers for that particular type but I am pretty confident that it is a rebranded NVIDIA Tesla K10 which is optimized for single precision performance.

And according to [this spec sheet](http://www.nvidia.com/content/tesla/pdf/NVIDIA-Tesla-Kepler-Family-Datasheet.pdf) the single precision performance is 4

[2016-02-12 17:52] ranjanan commented on #12
Cholesky factorization is actually fast on ArrayFire
[code]

[2016-02-12 17:58] ranjanan commented on #12
@pavanky I'm still getting bad performance on single precision
[code]
The GPU in question is GRID K520.

[2016-02-12 18:47] pavanky commented on #12
Btw you shouldn't be checking cholesky factorization on a random matrix. Cholesky factorization only succeeds for symmetric, positive definite matrices. It could just be that arrayfire is bailing early for a failure case.

A good (but not guaranteed) way to create an input for cholesky would be something like the following:

`n * identity(n, n) + rand(n, n)`

[2016-02-12 18:53] ranjanan commented on #12
@pavanky Sorry, I did a `a = a*a'` to make it positive definite. I've edited the comment so that reflects. I've also verified the answer generated.

[2016-02-12 19:05] pavanky commented on #12
So the QR and SVD numbers look similar to what I am seeing on a K20. The LU numbers are slightly better than what you are noticing here.

That said, the LU performance scales better than the CPU with size.

[2016-02-12 19:48] #9 closed

[2016-02-12 19:49] ViralBShah commented on #2
Closing this, as we are mostly doing many of these things already, and specific issues are needed from now on.

[2016-02-12 19:49] #2 closed

[2016-02-12 19:49] ViralBShah commented on #10
Seems like this can be closed?

[2016-02-13 03:36] ranjanan commented on #10
Yeah. Will add performance charts soon.

[2016-02-13 03:36] #10 closed

[2016-02-13 06:55] ViralBShah commented on #10
Would be nice to show some performance numbers and the hardware on which those were achieved.

[2016-02-15 04:56] ranjanan commented on #10
![arrayfire](https://cloud.githubusercontent.com/assets/9101377/13040156/8f33516c-d3ce-11e5-9873-766a2ab67781.png)

[2016-02-15 05:14] pavanky commented on #10
FYI random numbers generated on the GPU may not be comparable to those generated on CPU in Julia.

[2016-02-15 05:25] ViralBShah commented on #10
@pavnky What does ArrayFire do for RNG?

[2016-02-15 05:26] ViralBShah commented on #12
I thought GPUs would have caught up on double precision performance by now. Or is this particular one on AWS an old one?

Seems this issue can be closed.

[2016-02-15 05:55] pavanky commented on #12
@ViralBShah NVIDIA specializes only as few (Tesla / Quadro) GPUs for double precision. This particular one on AWS is particularly bad for double precision. The K40 for example can get >1 TFLOPS for double precision.

[2016-02-15 05:56] pavanky commented on #10
For cuda we just use curand which uses [XORWOW](http://docs.nvidia.com/cuda/curand/device-api-overview.html) by default.

[2016-02-15 06:13] ViralBShah commented on #12
Cc @alanedelman

[2016-02-15 06:14] ViralBShah commented on #10
Thanks.

[2016-03-08 03:26] okpatil4u opened #13 "Examples"
Can you provide with a broader set of examples ?

[2016-03-09 14:00] ranjanan commented on #13
Yes, I have just added an example now. Please check the examples directory.

[2016-03-09 14:24] ViralBShah commented on #13
In fact ArrayFire has a nice set of C examples, which would be great for people kicking the tires to implement in Julia.

[2016-03-09 14:26] ViralBShah commented on #11
Agreed! Also good to run the examples code you just added in the tests.

[2016-03-09 14:30] ranjanan commented on #11
I've added some basic tests now, but yes, it's also a good idea to put some of those examples in there and compare outputs to pure Julia implementations.

[2016-03-09 14:33] ViralBShah commented on #11
The tests do not seem to be running as part of CI.

[2016-03-09 14:33] ViralBShah commented on #11
Would be nice to enable travis at the very least.

[2016-03-09 14:34] ranjanan commented on #11
Wouldn't Travis have to build ArrayFire every single time it runs tests, or is there a way to avoid that?

[2016-03-09 14:35] ViralBShah commented on #11
Seems like ubuntu packages are available.

http://packages.ubuntu.com/search?keywords=arrayfire

[2016-03-21 17:05] okpatil4u commented on #13
Thanks @ranjanan. @ViralBShah I will have a look at them.

[2016-03-21 17:05] #13 closed

[2016-03-30 08:23] ViralBShah commented on #11
Pkg.test("ArrayFire") fails for me:

[code]

[2016-03-30 08:41] ranjanan commented on #11
This is because of [this commit](https://github.com/JuliaLang/julia/pull/10870). Even `using ArrayFire` fails with that commit.

[2016-03-30 12:15] ranjanan commented on #11
This is still a problem on the current julia master. I also suspect some other bugs might have been introduced at some which makes Cxx segfault. I'll verify this and post an issue on Cxx

[2016-03-30 22:31] ViralBShah commented on #11
cc @keno. Cxx.jl examples are segfaulting too.

[2016-03-31 05:02] ranjanan commented on #11
@ViralBShah There are apparently two distinct bugs, one of which has been fixed, according to @Keno . If you want a version of ArrayFire that works, I'd recommend checking out a Julia commit ID from February.

[2016-04-05 07:35] ranjanan commented on #10
![ArrayFire Performance](https://cloud.githubusercontent.com/assets/9101377/14274448/019f5e4e-fb2f-11e5-8b4b-6a81b1f31a9f.png)

[2016-04-14 06:12] ranjanan commented on #10
![thing](https://cloud.githubusercontent.com/assets/9101377/14518524/fd16799e-0235-11e6-94c3-549518d25db1.png)

[2016-05-09 07:26] dlfivefifty opened #17 "In-place BLAS commands?"
Are the BLAS commands `axpy!`, `scal!`, etc. implemented?

[2016-05-09 07:32] dlfivefifty opened #18 "Fast version of `AFArray(collect(1.0f0:10))`?"
Not sure if this is possible to do directly on the GPU, but I want to create a vector containing 1.0f0:10.

Any ideas?  I think if this is possible to do efficiently, then an override of `AFArray(::Range)` would also make sense.  (Creating it on the CPU and copying is really slow...)

[2016-05-09 09:45] ranjanan commented on #17
No, the BLAS is abstracted out in this library. What you could probably do is to use [`CUBLAS.jl`](https://github.com/JuliaGPU/CUBLAS.jl) for those functions.

[2016-05-09 09:51] ranjanan commented on #18
You can do this: `ArrayFire.range(AFArray{Float32}, 10)` to get a vector from 0 to 9 `Float32`s.

[2016-05-09 09:54] dlfivefifty commented on #17
But does CUBLAS work with AFArrays?

[2016-05-09 09:58] ranjanan commented on #17
Not currently, but it shouldn't be hard to interface with all the others (CUBLAS, etc). I think it'd be nice to have them work with each other and be compatible. Shall I open a separate issue for it and close this one?

[2016-05-09 10:00] dlfivefifty commented on #17
OK sounds good!  It’ll probably be very useful to have all the in-place variants to help save GPU memory.

(I’m really excited about this package! I think it’s going to help speed up certain tasks in ApproxFun a lot.)

[2016-05-09 10:02] ranjanan commented on #17
Sure. Thank you for your suggestions, and it would be nice to help other packages speed things up. :)

[2016-05-09 10:02] #17 closed

[2016-05-09 10:03] ranjanan opened #19 "Compatibility with other JuliaGPU packages"
It would be nice if ArrayFire could easily interface with other JuliaGPU packages such as CUBLAS etc. for the in-place BLAS and finer lower-level control.

[2016-05-09 10:30] ranjanan commented on #18
Does this work for you? Can I close this please?

[2016-05-09 10:37] ViralBShah commented on #17
Great idea to be able to use AF Arrays with CUBLAS.jl.

[2016-05-09 10:37] ViralBShah commented on #19
Also Gunrock should easily be able to take LightGraphs, etc.

[2016-05-09 10:38] dlfivefifty commented on #18
Yep!

Sent from my iPhone

[2016-05-09 10:46] #18 closed

[2016-05-27 04:33] mdpradeep opened #22 "a*a' not working"
Where `a` is a vector

[2016-05-27 04:38] ranjanan commented on #22
Fixed by 9343608c4950deb488ed21fc433b94192496fd01

[2016-05-27 04:38] #22 closed

[2016-06-01 14:46] andreasnoack opened #23 "ArrayFire.jl hangs"
I trying out ArrayFire.jl on a cluster with GPUs. Unfortunately, I don't have access to the CUDA Toolkit so I downloaded the compiled version of ArrayFire instead. I think the installation succeeded but I don't think I can compile the examples in ArrayFire without CUDA so I'm not completely sure. (The GPU driver should work, e.g. in MATLAB). I can load ArrayFire.jl but when running a command it ju

[2016-06-01 18:37] ViralBShah opened #24 "How to run the benchmarks?"
Is there a way to run the benchmark and generate the graph you have in the README? Would be nice to have a script that does it for all available backends.

[2016-06-02 06:53] AStupidBear opened #25 "Installation Help"
Since I have just changed from windows to linux, I'm not familiar with software installation on linux. Here's  the error I encountered
[code]
![image](https://cloud.githubusercontent.com/assets/16422976/15736317/80d0e686-28d1-11e6-9b80-399bec0e2cd9.png)

Could you help me? Thanks in advance!

[2016-06-02 06:56] ranjanan commented on #25
Can you add the path to `libaf` to your `LD_LIBRARY_PATH`?
Try this:
[code]

[2016-06-02 06:59] ranjanan commented on #23
I think you need to have [CUDA installed on your system](http://arrayfire.org/docs/installing.htm#Debian) to use ArrayFire. I don't think the binary is working in that case.

Can you check if the other backends are working? What does `getAvailableBackends()` give you?

[2016-06-02 07:01] ranjanan commented on #24
Hey, there's a benchmarks folder with my [benchmark script](https://github.com/JuliaComputing/ArrayFire.jl/blob/master/benchmarks/benchmark.jl). This would generate all the numbers.

[2016-06-02 07:29] AStupidBear commented on #25
It works! Thank you.

[2016-06-02 07:29] #25 closed

[2016-06-02 10:04] AStupidBear opened #26 "Is it possible to interact ArrayFire with cuBLAS?"
Since the native ArrayFire dosen't support low-level BLAS operations like gemm, axpy and symv, it'll be great to glue ArrayFire and cuBLAS together. However, is this feasible?

[2016-06-02 10:08] ranjanan commented on #26
The plan is to make ArrayFire compatible with other JuliaGPU packages such as CUBLAS. Ref #19. Once I have something I'll update that thread.

[2016-06-02 10:10] ranjanan commented on #24
It assumes the CUDA backend though. Hmm, maybe it's worth updating it to check which backends are available, then benchmark each of them.

[2016-06-02 11:01] #26 closed

[2016-06-02 11:01] ranjanan opened #27 "Should hook up gc"
I should hook up `AFArrays` to the finalizer.

[2016-06-02 13:12] ViralBShah commented on #24
And document it in the README.

[2016-06-02 13:14] ViralBShah commented on #23
It is not clear one has to do this in the README. Perhaps worth documenting how to get CUDA on linux.

[2016-06-02 15:23] AStupidBear opened #28 "Cannot use ArrayFire in Atom"
I have added ```export LD_LIBRARY_PATH=/usr/local/lib/``` and it works when I use ArrayFire.jl in terminal. However in Atom, I got the following errors:
![image](https://cloud.githubusercontent.com/assets/16422976/15750405/ef55691e-2918-11e6-9f3a-dd51c7fc0aab.png)

[2016-06-02 15:33] AStupidBear opened #29 "Cannot use clamp on AFArray"
try this code
[code]

![image](https://cloud.githubusercontent.com/assets/16422976/15750637/d8f45472-2919-11e6-955a-3329f0d5c404.png)

You can see that the origin of this error lies in that af[1] gives an array not a number.
I could write a function
[code]
However, this will affect performance. Is there a better way to deal with this?

[2016-06-02 15:35] ranjanan commented on #28
Is Atom looking at a different path as compared to the `LD_LIBRARY_PATH` ? Perhaps @MikeInnes could help?

[2016-06-02 15:40] ranjanan commented on #29
So there's no `clamp` function defined for an `AFArray`. The library doesn't support that function right now. You're probably getting a weird error possibly because it's a subtype of `AbstractArray` in Base. That last loop simply copies each value to the CPU and perform the operation. No execution is happening on the GPU.

[2016-06-02 15:46] ranjanan commented on #29
Not all the standard library in Julia is supported by ArrayFire right now. I think a note on what is supported and what isn't might be useful.

[2016-06-02 15:46] #29 closed

[2016-06-02 15:52] ranjanan commented on #11
There a few tests now, that seem to work. While they're not comprehensive yet, I think from now on we could deal with bugs and add tests based on bug fixes.

[2016-06-02 15:52] #11 closed

[2016-06-02 15:53] ranjanan commented on #23
Sure, will include that.

[2016-06-02 15:53] #23 closed

[2016-06-02 15:55] MikeInnes commented on #28
This is probably due to Atom not picking up on environment variables defined in `~/.bash_profile` or similar, since they'll be loaded by the shell. You can get around this either by running atom using the `atom` command in the shell, or simply by adding the variable on the julia side; e.g. with `ENV["LD_LIBRARY_PATH"] = "..."` in your juliarc.jl

[2016-06-02 16:01] ranjanan commented on #28
@AStupidBear , open a file called .juliarc.jl in your home directory, and write:
[code]
to it. Atom should be able to load it.

[2016-06-02 16:06] pavanky commented on #29
@ranjanan is there anyway it can error out more elegantly ?

[2016-06-02 16:07] ranjanan commented on #29
Yeah, I'm thinking about that too.

[2016-06-02 16:08] pavanky commented on #27
I haven't used Julia in many many years, but is the finalizer run when the variable goes out of scope or is it run non a deterministic manner ?

[2016-06-02 16:10] Keno commented on #27
It's non-deterministic.

[2016-06-02 16:18] AStupidBear commented on #29
I'm so stupid.
[code]

[2016-06-02 16:25] AStupidBear commented on #28
Thanks.

[2016-06-02 16:27] #28 closed

[2016-06-02 16:28] AStupidBear commented on #28
Thank you. It worksSent from my Huawei Mobile-------- Original Message --------Subject: Re: [JuliaComputing/ArrayFire.jl] Cannot use ArrayFire in Atom  (#28)From: Mike J Innes To: "JuliaComputing/ArrayFire.jl" CC: Yao Lu ,Author This is probably due to Atom not picking up on environment variables defined in ~/.bash_profile or similar, since they'll be loaded by the shell. You can get around this e

[2016-06-02 16:34] pavanky commented on #27
If it is non-deterministic the GPU can run out of memory very very easily.
A simple test would be to run a matrix multiply of [5000, 5000] in a loop for a thousand times.

If there is a deterministic way to call the finalizers, you can implement something similar to [what I did with R](https://github.com/arrayfire/arrayfire-r/blob/master/R/array.R#L4).

But when I [last came across this issue](htt

[2016-06-02 22:43] ViralBShah commented on #27
This issue comes up in distributed computing too. For now, we should have the finalizers and eventually adopt any julia solution that might come up.

[2016-06-03 04:29] AStupidBear opened #30 "a bug in ones"
[code]

[2016-06-03 04:33] ranjanan commented on #30
Thanks. Will fix.

[2016-06-03 06:12] ranjanan commented on #27
I added a simple finalizer here: 79e39e92cc85fb9f4bc5af7ce5ff391f546a0874

But when I use the CPU backend, I'm still seeing substantial use of swap space if I run a reasonable application again and again. Though `top` seems to be stable, disk space seems to be running out on my Mac.

[2016-06-03 06:14] ranjanan commented on #30
Fixed by ed877284222d3e4bf1fea1fae833473ca8e3d727

[2016-06-03 06:14] #30 closed

[2016-06-03 06:42] AStupidBear opened #31 "sign bug"
[code]

Those are fatal to my project !
I think it's time to write test for all functions.

[2016-06-03 07:09] ranjanan commented on #31
@AStupidBear The `sign` function in ArrayFire simply uses a different convention as compared to Base Julia.

The `-af` bit is a bug. Pushing a fix now.

[2016-06-03 07:28] ranjanan commented on #31
Fixed by e2122bf2af9a2695864bd3be8ccb4f557f96496f

[2016-06-03 07:28] #31 closed

[2016-06-03 07:34] ranjanan commented on #31
Also wrote tests to reflect the fixes.

[2016-06-03 07:56] pavanky commented on #27
I looked through the old thread again, and it looks like `gc()` has been present all along.

Can't you just make `af_device_mem_info` part of `_AFArray` and call `gc()` when you hit a limit ? You can have a default value for this and let the user set it so it will not affect the overall performance.

[2016-06-03 09:09] ranjanan commented on #27
The following code snippet:
[code]
gives the following output:
[code]

[2016-06-05 15:13] AStupidBear opened #32 "How can I use function find?"
Since ArrayFire dosen't support ```find```, is there any way to get around?
[code]
could do this but it's not efficient.

[2016-06-06 07:03] ranjanan commented on #32
Actually the function `find` is supported. I initially thought it behaved like `findnz` but it actually behaves like `find`.

[2016-06-06 07:03] #32 closed

[2016-06-06 08:23] AStupidBear opened #33 "ArrayFire is unreasonably faster than julia!"
Look at the following code
[code]
The result is (cpu)
[code]
How could you explain this?

[2016-06-06 08:42] ranjanan commented on #33
Could you post the output of `versioninfo()`?

[2016-06-06 08:43] SimonDanisch commented on #33
Try this:
[code]
on my pc, it's slower then julia (1.8s vs 1.5 vs 0.8 mydevec)

[2016-06-06 08:45] AStupidBear commented on #33
@ranjanan
[code]

[2016-06-06 11:08] pavanky commented on #33
Arrayfire is non blocking. You need to have a `sync` to make sure all operations are finished. You only need `sync` for benchmarking purposes, do not leave it in for real use cases.

Also, if you are using JIT, you need to run `eval` to make sure the operations are evaluated.

But if you put a `sync` at the end of each function that is going to slow things down. Ideal way to benchmark would be to

[2016-06-06 12:05] SimonDanisch commented on #33
@pavanky, while we're at it, this suggests that you're building up the compute graph lazily and probably are doing some smart scheduling and optimizations.
I guess in Julia, we will have it a bit harder to optimize this case:
[code]
I'm assuming, that you capture and use that information by overloading `=` http://arrayfire.org/docs/group__array__mem__operator__eq.htm ?
Also, how many temporaries w

[2016-06-06 12:14] pavanky commented on #33
@SimonDanisch for CUDA and OpenCL, launching a single kernel for each operation is costly. What we do is batch all element wise operations (including all arithmetic operators, math functions, logical operations) into a single kernel, compile it at runtime, cache it and reuse those kernels if a similar tree is seen in the future.

In your expression, the data for `r` is not created until one of the

[2016-06-06 12:24] pavanky commented on #33
BTW whatever I mentioned in my previous comment is available through the C api. We are not doing anything special in C++. (`r.eval()` in C++ is just `af_eval(c)` in the `C` API).

All of lazy evaluation happens within each backend library.

[2016-06-06 12:27] SimonDanisch commented on #33
Thanks for the explanation!
As you can see in my sample, `af_eval` is already wrapped :)

Exactly ;)
Well, that's great to hear!

@shashi, so things start looking a bit like a fractal when you're using ArrayFire as a backend for ComputeFramework.jl, since it seems to have a fairly similar execution model ;)

[2016-06-08 09:18] AStupidBear commented on #33
Thanks to all of you guys!

[2016-06-08 09:18] #33 closed

[2016-06-08 09:20] AStupidBear opened #34 "Internal Error"
It works fine when I use only cpu on my local machine. However, after I installed ArrayFire on a remote server with cuda support,
[code]

[2016-06-08 09:25] pavanky commented on #34
Error 998 usually means something failed to initialize. Can you run cuda samples form the toolkit to see if  it is working on the server?

[2016-06-08 09:45] AStupidBear commented on #34
@pavanky How can I do this?

[2016-06-08 10:11] AStupidBear commented on #34
@pavanky
[code]

[2016-06-08 10:15] ranjanan commented on #34
Have you installed the CUDA toolkit properly? If so, can you add the location of `libcudart` etc., to your `LD_LIBRARY_PATH`?

[2016-06-08 10:31] shashi commented on #33
An `@aftime` macro will be handy for interactive time measurements

[code]

[2016-06-08 10:42] pavanky commented on #34
If you have the CUDA toolkit, do you have the right version (CUDA 7.5) installed?

[2016-06-08 10:48] AStupidBear commented on #34
@ranjanan
[code]

[2016-06-08 10:54] ranjanan commented on #34
Can you see if there's a `libnvvm.so` in your `/usr/local/cuda`? Can you add that to your `LD_LIBRARY_PATH` too?

[2016-06-08 11:12] AStupidBear commented on #34
It works.
[code]

Howerver, the OpenCL dosen't work
[code]

[2016-06-08 11:23] ranjanan commented on #34
Do you have an appropriate OpenCL SDK? There are a few dependencies for the OpenCL backend. Check [this](https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Linux#opencl-backend-dependencies).

[2016-06-08 12:16] AStupidBear commented on #34
@ranjanan Could you look at this [issue](https://github.com/pluskid/Mocha.jl/issues/205)? It must be due to the CUDA settings but I cannot figure out.

[2016-06-08 13:23] ViralBShah commented on #34
Perhaps we should check for the right versions.

[2016-06-09 06:55] ranjanan commented on #10
<img width="537" alt="general" src="https://cloud.githubusercontent.com/assets/9101377/15921168/36b4f1fc-2e3d-11e6-871a-c8989c5bd279.png">

[2016-06-09 06:58] ranjanan commented on #10
![nmf single](https://cloud.githubusercontent.com/assets/9101377/15921185/62ad8198-2e3d-11e6-911e-469375a99ecb.png)

[2016-06-09 15:11] ViralBShah opened #36 "FFT error"
[code]

[2016-06-09 15:14] ViralBShah commented on #36
Perhaps we need some promotion rules - or at least better error messages, if mixed CPU/GPU operations are not supported.

[2016-06-09 15:14] ranjanan commented on #36
You cannot subtract an `Array` and an `AFArray`. I could of course change the default behavior to transferring to the CPU and then subtracting.

[2016-06-09 15:16] ranjanan commented on #36
Yeah, the error messages could be better I think. I might simply say
`-(a::Array, b::AFArray) = throw("Can't subtract Arrays and AFArrays")`

[2016-06-09 15:17] ViralBShah commented on #36
Capture in docs? Ideally, if someone tries to do these mixed operations, they should get a useful error.  It is not enough to add just that one line. You'll need to add this comprehensively for all operations in all positions.

[2016-06-09 15:17] ViralBShah commented on #36
I say let's just have a section in the docs in the compute model - that for purposes of performance, we do not automatically move data and it will be an error.

[2016-06-09 15:18] ranjanan commented on #36
Correct, I'd have to do this for all functions. I think I can capture this in the docs.

[2016-06-09 15:19] ViralBShah commented on #36
That's quite a bit of difference, but perhaps one can't do much about it. And I am not even running on a real GPU - just on my mac.

[code]

[2016-06-09 15:22] ranjanan commented on #36
If you're using the OpenCL backend, that probably has to do with the different in the value returned by clFFT and FFTW. I'm not sure what we can do about those numerical differences. They would also arise in case you're using CuFFT on a GPU too.

[2016-06-09 15:24] ranjanan commented on #36
Do you think it's worth noting in the README about the differences in the values?

[2016-06-09 15:27] SimonDanisch commented on #36
clFFT (which is probably also their CPU backend) is quite likely the culprit here ;)
I coincidentally just tried out clFFT directly and got a very similar result:
`maximum(abs(a - b)) ->  0.000159`

[2016-06-09 15:27] SimonDanisch commented on #36
CUDA backend seems to be in the same range:
[code]

[2016-06-09 15:39] ViralBShah commented on #36
Perhaps just one line to say that the numerical results may differ from the CPU versions that may sometimes be more accurate. Users should adequately check their programs for correctness, as they always should.

[2016-06-09 15:45] ViralBShah commented on #10
The RNG difference is worth capturing in the compute model section of the README.

[2016-06-09 15:46] ranjanan commented on #36
I've added notes on both.

[2016-06-09 16:01] alanedelman commented on #36
how do you know the cpu is more accurate?
random rounding errors are random rounding errors
if your code depends on this something is wrong

On Thu, Jun 9, 2016 at 11:46 AM, Ranjan Anantharaman <
notifications@github.com> wrote:

[2016-06-09 16:05] pavanky commented on #36
FFTs can be notoriously hard to verify numerically because

1) floating point arithmetic is not associative
2) it uses a lot of exponential operations.

Any numerical changes caused by (1) will result in larger changes by (2).

[2016-06-09 16:08] alanedelman commented on #36
Your assertions 1 and 2 are true, your conclusion is not.

[2016-06-09 16:11] pavanky commented on #36
Welp. should have worded it differently.

[2016-06-09 16:13] alanedelman commented on #36
fft's are not any more difficult to verify numerically than anything else

[2016-06-09 16:23] pavanky commented on #36
I mean't hard to verify for correctness in the way @ViralBShah was doing.

Anyway according the published specs, the accuracy for expoentials seems to be the following:
- 1ULP for x86 (http://www.gnu.org/software/libc/manual/html_node/Errors-in-Math-Functions.html)
- 2ULP for CUDA (http://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#mathematical-functions-appendix)
- 3ULP for OpenCL (h

[2016-06-09 19:04] ViralBShah commented on #36
I was generally thinking like many users probably will - that CPU libraries tend to have slightly higher accuracy with ULPs and such and accelerated libraries will give up some last bits to be faster. Also @stevengj 's FFTW is a pretty good reference, I would have thought.

[2016-06-10 07:34] ChrisRackauckas commented on #19
Instead, maybe the way to go would be for ArrayFire to be one set of algorithms in a larger GPULinearAlgebra package that also incorporates sprase methods?

[2016-06-10 13:23] mauro3 opened #37 "Strange issue running example"
When I run the example I get the following error:
[code]

it goes away if I change the variable `call` to `call_` on lines https://github.com/JuliaComputing/ArrayFire.jl/blob/e90e9eb6b68c2a1948c70f64297e4f435fe9698e/examples/blackscholes.jl#L19-20

Maybe this is a Julia bug, so let me know if I should repost there.  Also, does anyone else see this?

[2016-06-10 13:33] mauro3 opened #38 "mean and var test failing sometimes"
Most of the time (although not always) the `mean` and `var` tests fail:
[code]

Also note that it is a bit strange (wrong?) that `var` returns a double.

I'm running on the built-in Intel HD graphics using [Beignet](http://arrayfire.com/opencl-on-intel-hd-iris-graphics-on-linux/) but it also happens using the CPU backend.

[2016-06-10 13:38] ranjanan commented on #37
Are you running this on Julia v0.4? Can you check to see if the same issue is there on v0.5?

[2016-06-10 13:44] ranjanan commented on #37
The following code works:
[code]
but the following code errors out:
[code]
with `ERROR: invalid function object`

I do define a `call(::Type{AFArray})` [here](https://github.com/JuliaComputing/ArrayFire.jl/blob/master/src/create.jl#L31)

[2016-06-10 13:55] ranjanan commented on #38
You're right, `var` should return a `Float32` if it's a `Float32` Array. I'll fix that.

[2016-06-10 14:17] mauro3 commented on #37
On 0.5 it works.

[2016-06-10 14:35] ViralBShah commented on #19
Yes ArrayFire could be a backend in a larger package.

[2016-06-10 16:23] davidanthoff opened #40 "Windows support"
If it doesn't work on Windows, would be great to add one sentence to the README stating so (and saving people time to figure it out themselves).

Longer term it would of course be great if this had first class windows support, i.e. including downloading of the arrayfire binaries via BinDeps etc.

[2016-06-10 18:24] ViralBShah commented on #40
The official ArrayFire binaries are behind a login at the moment - so having it via BinDeps would mean building it all ourselves. And I wonder if those include CUDA or not. Currently, even if ArrayFire was built as a library, one would still have to install CUDA by hand.

We should make sure it works on Windows though. What error did you face?

[2016-06-10 18:27] davidanthoff commented on #40
I didn't even try it, I just looked at the README and saw install sections for Mac and Linux but not for Windows and then posted this issue :)

This is not a high priority for me at all, I just wanted to play around with this a little.

[2016-06-11 10:06] ranjanan commented on #37
Fine, I just changed `call` to `call_`. Fixed by 0be93d0374d02b27f26a325efae2a7d8f4a8ed04

[2016-06-11 10:06] #37 closed

[2016-06-11 10:07] ranjanan commented on #38
My tests haven't ever failed though. This is quite strange: does it have something to do with `Device[0] has no support for OpenGL Interoperation`

[2016-06-11 12:10] mauro3 commented on #38
Looks like a floating point inaccuracy.  And they are intermittent on my computer.  Is it guaranteed that the floats get summed in the same order at all times?  I suspect not if it's done in parallel.  So, why not use `@test_approx_eq`?

[2016-06-11 12:22] ranjanan commented on #38
Probably. I haven't used Beignet before, so if those floating point errors are possible on that platform, I suppose `@test_approx_eq` makes sense.

[2016-06-11 12:25] ranjanan commented on #37
@mauro3 I think this is why `call` is deprecated on v0.5 😄

[2016-06-11 19:01] mauro3 commented on #38
Yes it works.  But running the tests many times gives some other odd errors, such as:
[code]
above one is particularly bad as `5.420249f0 <<<< 0.0001`.

More usually it's something like this (about once in 30 test-runs):
[code]
Do you want to try to track this down?

[2016-06-11 20:00] pavanky commented on #38
This is likely a problem in arrayfire or beignet.

[2016-06-11 20:04] pavanky commented on #38
If you are seeing accuracy problems on Beignet, it may be because of this:

[code]

[Source](https://www.freedesktop.org/wiki/Software/Beignet/)

[2016-06-11 21:28] mauro3 commented on #38
I'll check whether running with CPU works and whether that beignet trick works.  Tnx.

[2016-06-12 08:45] #34 closed

[2016-06-12 08:46] AStupidBear opened #41 "GLFW wasn't able to initalize"
What does this mean?

[code]

[2016-06-12 17:52] ranjanan commented on #41
`GLFW` is a graphics library which `arrayfire` uses. Did you build `arrayfire` with GLFW?

Also, `ArrayFire.jl` doesn't current support graphics using GLFW.

[2016-06-12 18:04] pavanky commented on #41
This is a debug message. You can safely ignore it (as long as you don't use arrayfire graphics functionality). If you don't want to see it, put `export AF_DISABLE_GRAPHICS=1` in your environment somewhere.

[2016-06-13 04:06] AStupidBear commented on #41
Thanks for your explanations

[2016-06-13 04:06] #41 closed

[2016-06-14 02:20] Paulms commented on #40
I try it on Windows and I get an error. Python bindings are working well.

ERROR: LoadError: LoadError: UndefVarError: lib not defined
 in include at boot.jl:261
 in include_from_node1 at loading.jl:320
 in include at boot.jl:261
 in include_from_node1 at loading.jl:320
 in require at loading.jl:259
while loading C:\Users\PaulE\.julia\v0.4\ArrayFire\src\config.jl, in expression starting on line 6

[2016-06-14 06:58] SimonDanisch commented on #40
Try #42 ;)

[2016-06-16 15:23] ranjanan commented on #40
PR #42 has been merged, enabling Windows support.

[2016-06-16 15:23] #40 closed

[2016-06-19 11:53] jjl opened #45 "ERROR: LoadError: "ArrayFire Error (998) : Internal error" during Pkg.test"
I've only tested creating AFArrays so far, but that seems to work.

[code]

[2016-06-19 14:32] ranjanan commented on #45
Does `AFArray(rand(Float32, 10))` work for you?

[2016-06-19 15:36] jjl commented on #45
Nope, I get this:

[code]
Julia 0.4.5, btw

[2016-06-19 15:46] ranjanan commented on #45
Okay. Which platform are you using? Which backend are you using? If you're using the OpenCL backend on Ubuntu, maybe you should check if you've installed the appropriate OpenCL SDK
[code]
This might help.

[2016-06-19 15:49] jjl commented on #45
I have no idea which backend I'm using I'm afraid but they're all installed - I'm brand new to ArrayFire. I'm on ubuntu 16.04. It looks like I do have the library you mention installed.

[code]

[2016-06-19 15:51] ranjanan commented on #45
Okay, can you try `getActiveBackend()`?

[2016-06-19 16:06] jjl commented on #45
oh dear, this one looks more exciting :/

[code]

[2016-06-19 16:09] ranjanan commented on #45
That's weird. Could you paste the output of `AFInfo()`?

[2016-06-19 16:10] jjl commented on #45
[code]

[2016-06-19 16:11] ranjanan commented on #45
How did you install ArrayFire? Did you download a binary or build from source?

[2016-06-19 16:11] jjl commented on #45
Neither, I used the ubuntu packages and installed all the backends.

[2016-06-19 16:12] ranjanan commented on #45
Ah I see. I wonder if there's a problem with one of those. Could you please follow the instructions in the README and let me know if it works?

[2016-06-19 16:13] jjl commented on #45
Okay, I'll try building from source. A quick dpkg query says I'm using arrayfire 3.2.2. Is that a version you'd expect to work?

[2016-06-19 16:15] ranjanan commented on #45
Well, that's a relatively old version number as far as I know. The latest is v3.3.x with v3.4 under development. I don't suppose those ubuntu packages have been updated.

[2016-06-19 22:56] KajWiik opened #46 "Can't get ArrayFire working"
Ubuntu 16.04
Julia 0.4.5

`lspci
01:00.0 VGA compatible controller: NVIDIA Corporation GM206 [GeForce GTX 960] (rev a1)`

[code]
Pkg.test("ArrayFire") and any attempts to use device arrays get stuck. Ideas?

Kaj

[2016-06-20 08:27] jjl commented on #45
I've managed to build ArrayFire on my machine, but the opencl backend fails all tests without any output. I think it's entirely possibly my machine is too old to support OpenCL.

I'm going to close this for now, we'll call it an old version problem. Thanks!

[2016-06-20 08:27] #45 closed

[2016-06-20 11:16] KajWiik commented on #46
I built the library from source and now everything seems to work, including Pkg.test("ArrayFire").

[2016-06-20 11:16] #46 closed

[2016-06-20 17:06] #24 closed

[2016-06-22 13:19] richardreeve opened #47 "Why is the supertype of AFAbstractArray 4-dimensional?"
I really like the idea of using this package, but I'm slightly troubled that the ultimate supertype of all AFArrays (via AFAbstractArray) is a 4-dimensional AbstractArray if I'm reading the code correctly. This seems (to me) both counterintuitive and unhelpful in terms of handling it in a standard way. I'm sure there's a good reason for it (it might be helpful to know what it is), but is it really

[2016-06-23 15:04] ranjanan commented on #47
I have kept `AFArray` as a subtype of `AbstractArray{T,4}` because the `array` object supports at the max 4 dimensions, so I wanted to reflect that.

I do realize what you mean: `AFArray{Float32} <: AbstractArray{Float32}`returns `true` while `AFArray{Float32,2} <: AbstractArray{Float32,2}` returns `false`

[2016-06-23 15:46] richardreeve commented on #47
That's what I mean, yes. I would like ```AFArray{Float32,2} <: AbstractArray{Float32,2}```, so that my functions can just have arguments that are, for example
[code]
And they'll just work on any subtypes like AFArrays, because the underlying algorithms aren't meaningful anything other than matrices.

[2016-06-25 04:48] gabgoh commented on #27
I think the absence of a garbage collector makes this library unusable. I've been using a 3rd party program to track my GPU memory usage, and the NNF benchmark takes up about 1.5 G of ram, none of which are freed. Running the benchmark 3 times in the row results in an outofmemory error.

[2016-06-26 00:20] ranjanan commented on #27
@gabgoh I pushed some fixes, and it might be slightly better. `gc()` and `af_device_gc()` work now. But you might have call one of those functions from time to time. Looking into ways to automate this.

[2016-06-26 00:25] gabgoh commented on #27
Whoa, thanks for the fast response! I was just testing this out, and can confirm it works beautifully!!

To anyone else experiencing this issue, just call gc() and then ArrayFire.af_device_gc() inside any loop which allocates memory. This fixes the memory leak.

[2016-06-26 00:41] ViralBShah commented on #27
@carnaval @JeffBezanson @Keno @StefanKarpinski Is there a way to do this better?

[2016-06-26 00:49] Keno commented on #27
When we discussed this, Jeff was proposing adding memory pressure proportional to the ratio of main memory to GPU memory to trick the GC into feeling the memory pressure. Longer term the memory use can tracked by separate heap accounting for CPU and GPU.

[2016-06-26 04:36] pavanky commented on #27
Right now arrayfire does not expose the total memory of the GPU. This might change in the future to help this out.

@gabgoh with the finalizer in place, you should not need to call `af_device_gc()`.

[2016-06-26 05:48] gabgoh commented on #27
@pavanky

Here is a snippet of code I just ran

[code]

my third party tool informs me that the memory is only really cleared after af_device_gc() has been called, so I'm presuming arrayfire's own garbage collector has been notified but not run.

[2016-06-26 06:01] pavanky commented on #27
@gabgoh the last two 0s are important. The first two get reused if you create an array again.

[2016-06-26 06:04] gabgoh commented on #27
makes sense!

[2016-06-26 06:04] pavanky commented on #27
here's the order for reference:

allocated bytes, allocated buffers, locked bytes, locked buffers.

allocated means arrayfire memory manager has created a memory pool of that size. The lock bytes / buffers signify how many arrays are still referenced and / or not finalized.

The memory in the allocated pool is reused for buffers of similar size. you need not call `af_device_gc`.

[2016-06-30 00:56] tlnagy opened #50 "Getting active backend call fails"
[code]
I'm using a fresh install of the Homebrew version of ArrayFire and the latest version of ArrayFire.

[2016-06-30 01:04] ranjanan commented on #50
Ah, I had a note on this earlier in my README. The function `getActiveBackend()` is available on on `arrayfire v3.3.0` and above. I'll push a fix to throw the appropriate error message.

[2016-06-30 01:07] tlnagy commented on #50
The latest version on Homebrew is v3.2.2 so that's probably my problem, an error message would be nice!

[2016-06-30 01:07] #50 closed

[2016-06-30 01:11] ranjanan commented on #50
Fixed via 911ba4a01ee7bfc23ba7e2f79a7fe4500ab91dec

[2016-06-30 01:13] tlnagy commented on #50
I think you're missing an "end" in the latest commit:

[code]

[2016-06-30 01:16] ranjanan commented on #50
Ah, bother. Does it work now?

[2016-06-30 01:20] tlnagy commented on #50
It does, but error message is garbled:

[code]

[2016-07-04 08:54] blairn opened #51 "matrix multiplication doesn't support bit arrays."
in Julia, matrix multiplication for bits works just fine.

[code]

with ArrayFire, it doesn't seem to

[code]

weirdly enough, .*s work just fine.

[code]

Is this a bug? How do I make matrix multiplication to work?

[2016-07-04 21:12] lruthotto opened #52 "Problem installing AF on Mac OS"
Hey,
I followed the instructions in README.md to install Array Fire on my Mac. `brew install arrayfire` did work without an issue as did `Pkg.add("ArrayFire")` in julia 0.4.6. When trying to test the package I get this.

[code]

When looking for binaries I found

[code]

Thanks for looking into this. Let me know if you need further information about my system.

[2016-07-04 21:42] pavanky commented on #52
You are using a really old version of arrayfire which does not contain libaf.dylib. You need v3.2.0 atleast.

[2016-07-04 22:00] lruthotto commented on #52
thanks. I updated homebrew and am now running arrayfire v.3.2.2. Seems to work now. Just out of curiosity. Is it possible to add the minimum version in REQURE?

[2016-07-04 22:20] lruthotto opened #53 "Feature Request: Extend Base.LinAlg functions"
For numerical linear algebra it would be very useful to extend the implementations of  ``Base.LinAlg.scale!`` and ``Base.LinAlg.axpy!`` etc.  Right now, everything goes back to the implementation for AbstractArrays (which is terribly slow).

What I'm looking for is, for example:
[code]

[2016-07-04 22:24] lruthotto opened #54 "getActiveBackend() fails"
On my Mac using julia 0.4.6 I'm getting the following error

[code]

[2016-07-04 22:42] pavanky commented on #54
This was a feature that was added in v3.3.0. I don't think brew updated arrayfire to 3.3 yet.

Meanwhile,  I think @ranjanan is in the process of erroring out properly.

@ranjanan btw, for older versions you can hack together the same functionality by passing an empty array to af_get_backend_id

[2016-07-05 11:37] esproff opened #55 "digamma and trigamma functions"
Does anyone know if the digamma and trigamma functions will ever be implemented?

I fear this might be something which has to be handled by the original ArrayFire and not just by the wrapper, but I thought I'd ask since I've been unable able to design a sufficiently efficient workaround.

[2016-07-05 13:20] ViralBShah commented on #52
REQUIRE can only track versions of julia packages, not the binary dependencies. As this becomes more popular, perhaps we should have a BinDeps for it, or just wait for Pkg3.

[2016-07-05 13:22] ViralBShah commented on #51
BitArrays are not available for ArrayFire, AFAICT.

[2016-07-05 13:23] ViralBShah commented on #51
Bool Arrays and bitarrays in Julia are different. I am guessing that bool array multiplication is not available in ArrayFire - but @ranjanan should know.

[2016-07-05 19:34] kmsquire commented on #55
@esproff, until they're implemented here, you can just use the versions in base Julia, right?  Although you did suggest that you probably want something more efficient.

Since this project, like most of the Julia ecosystem, is open source and volunteer based, your best chance to having those implemented would be to look into it yourself, or at a minimum, turn your question into a request.  Usually

[2016-07-07 18:12] esproff commented on #55
@kmsquire, ok thanks for the timely response, I posted the issue to the primary repo.

[2016-07-07 18:12] #55 closed

[2016-07-07 18:16] esproff opened #56 "Getting an arbitrary sub-array"
Is there an ability to get specific sub-arrays from an AFArray?

I know you can use ranges to get contiguous or regularly spaced sub-arrays, but I get an error when I try to get an arbitrary sub-array using a vector of coordinates, for instance if I had an AFArray `A` which was 10x10 and I wanted the columns `[1,2,9]`, I would normally do

[code]

but this doesn't work.  Looking at the list of ind

[2016-07-08 05:48] ranjanan commented on #52
Yes, this might need to be automated, but the best that can be done for that is to set up automated binary downloads. But even then, the arrayfire website requires a username and login for download.

[2016-07-08 06:02] ranjanan commented on #54
Appropriate error message add by e66ec47e0456f28498f8fc7afc6063742eb8b5c9.

@pavanky Thanks, will look into that hack.

[2016-07-08 06:02] #54 closed

[2016-07-08 06:27] pavanky commented on #52
@ranjanan Instead of always loading `libaf`, if you try loading`libafcuda`, `libafopencl` and `libafcpu` on failure, you do not need to depend on a particular version.

[2016-07-08 06:56] ranjanan commented on #56
@esproff `A[:, AFArray([1,2,9])]` would work. You need to convert the Julia Array into an `AFArray` to index other `AFArray`s.

As for wrapping `cols`, I wonder if this indexing functionality generally works for most users, and whether it's necessary to give users that function, given that we don't have a similar function in Julia.

[2016-07-08 07:14] #56 closed

[2016-07-08 07:26] ranjanan commented on #55
@kmsquire Thanks!

[2016-07-08 12:28] esproff opened #57 "How to run loops efficiently?"
So this might be related to [#27](https://github.com/JuliaComputing/ArrayFire.jl/issues/27), but the only way I seem to be able to run loops which don't degrade in performance is to call `gc()` after every iteration of the loop.  Otherwise the more loops I go through the more things slow down.  For instance:

[code]

I have to garbage collect in the for-loop inside `f` in order to avoid increasing

[2016-07-08 12:55] ranjanan commented on #57
Other than the need to run `gc()` every so often, a major amount of time might be spent in indexing.

The problem right now is that the Julia garbage collector is not sensitive to the GPU memory, and is only aware of the CPU memory. ArrayFire itself has its own memory manager that clears garbage on its own terms. This results in memory not being freed in a timely manner, and you having to manually

[2016-07-08 13:00] esproff commented on #57
Is indexing performance something that can be significantly improved?  Or is this an inherent limitation of GPU programming?

[2016-07-08 13:06] SimonDanisch commented on #57
Well Indexing GPU memory from the CPU is of course an inherent limitation, as long as they don't share the same memory space.
What we can do is to execute the loop on the GPU, which you can by writing your own Kernels.
You shuld be soon able to write these  kernels in Julia: https://github.com/JuliaGPU/CUDAnative.jl
It's actually working fairly well already, if you're willing to build Julia yourse

[2016-07-08 13:07] esproff commented on #57
@SimonDanisch,

Can this also be done on on OpenCL.jl?  (I don't have an NVIDIA chip).  Also I have only a passing familiarity with C/C++, is that enough to write my own kernels?  (sorry for all the questions).

[2016-07-08 13:12] SimonDanisch commented on #57
We hope to naturally extend the same approach to OpenCL :) Yeah, simple kernels should be straight forward to write... Main entry burden are indexing behaviour and calling the kernel. Just look at the examples in OpenCL.jl! I'm not sure if it's wrapped already, but it should be straight forward to call the kernels on ArrayFire arrays!

[2016-07-08 13:17] esproff commented on #57
@SimonDanisch,

Thanks!

[2016-07-08 13:21] ranjanan commented on #57
@esproff , if you don't mind, could you refer #27 for the gc discussion from here on?

[2016-07-08 13:21] #57 closed

[2016-07-08 13:23] esproff commented on #57
@ranjanan,

sure, no problem.

[2016-07-11 07:10] ranjanan commented on #51
Yeah, integer boolean multiplication isn't supported in the `arrayfire` library. `x' * y` descends to a BLAS call in the library, and the call only takes in floats. So you'd have to convert both `x` and `y` to floats before you perform that operation.
[code]

[2016-07-11 19:36] #51 closed

[2016-07-12 22:18] davidavdav commented on #12
I have trouble showing any performance using ArrayFire on a new but consumer nvidia gtx 1080 in Float32, for things as simple as a matrix multiplication.  For a test function like
[code]
the cpu is in my test several times faster than the GPU, for various matrix sizes for `a`  and `n`.

[2016-07-12 22:27] pavanky commented on #12
@davidavdav which version of arrayfire are you using ? Only a recent commit in arrayfire's devel branch fixed issues on compute 6.1 GPUs (of which 1080 is one). And this only works with CUDA 8.0 Release candidate.

If you are using an older version of arrayfire, it is likely that the kernels are being compiled on the fly for GTX 1080 causing a lot of delay.

[2016-07-12 22:57] davidavdav commented on #12
I compiled ArrayFire at commit 3ceb2f9 -- 12 days old.  The CUDA release is indeed a 8.0-rc.

The tests in ArrayFire in `build/test` pass, but order of magnitudes slower for gpu than for cpu.

The benchmarks in build/examples/benchmark are odd: where I have 25 Gflops on the CPU there is 8000 Gflops on cuda, but it takes several minutes (at 100% cpu) before the process output starts, during which n

[2016-07-12 23:18] pavanky commented on #12
Yeah those symptoms are indicative of the kernels being generated on the fly for 6.1. There was a bug in our build system that was not properly enabling CUDA 6.1 compute. You will need the latest devel (last updated 2 days ago) to fix the issue.

[2016-07-14 09:54] davidavdav commented on #12
Hi,

I upgraded ArrayFire to commit 072d507 and compiled/reinstalled, and checked out the latest ArrayFire from master.  It looks like ArrayFire's tests in `build/examples/benchmarks/blas_cuda` and `build/test` now don't have the weird start-up delay, and blas_cuda show 8000+ Gflops.

But the timing of `ata` above stays the same, with CPU being about 5x faster than GPU, for Float32 arrays.   Also,

[2016-07-14 14:48] pavanky commented on #12
@davidavdav can you check the GPU performance by putting `gc()` inside the for loop ?

[2016-07-14 14:56] davidavdav commented on #12
[code]
Like that?
[code]

[2016-07-25 19:41] cpierard opened #58 "ERROR: ArrayFire Error (401)"
I installed with success ArrayFire in my computer and in Julia, and runned the test and passed whithout problems. Then I tried to follow the Simple Usage steps in readme.md, but when I try to use the constructor `AFArray()` it appears the following error:

[code]

[2016-07-26 01:11] pavanky commented on #58
Some devices do not support double precision in hardware. Especially Intel GPUs.

What device are you testing this on ?

[2016-07-27 00:56] cpierard commented on #58
My GPU is an Intel Iris Graphics 6100 1536 MB, and I am using it on a Mac.

[2016-07-27 01:14] pavanky commented on #58
Intel does not support double precision on any of their GPUs. The proper error is being returned.

[2016-07-27 01:25] cpierard commented on #58
So, there is nothing to do?

[2016-07-27 03:36] ranjanan commented on #58
@cpierard You could use single precision for your computations:
[code]
If you have a GPU on your system, and you've built ArrayFire with the CUDA backend (check README on how), you can switch to the CUDA backend and use double precision on your GPU.

[2016-08-01 04:04] #58 closed

[2016-08-01 04:06] ranjanan commented on #58
Closing this because this is hardware and a note will be added to the README.

[2016-08-01 19:14] bluehope opened #62 "Failed to load dynamic library."
With cuda 8.0 & 1080 I keep seeing this error message.
How could I fix this problem?

julia> setBackend(AF_BACKEND_CPU)
true

julia> setBackend(AF_BACKEND_CUDA)
ERROR: ArrayFire Error (501) : Failed to load dynamic library.
 in af_set_backend at /home/bluehope/.julia/v0.4/ArrayFire/src/wrap.jl:941
 in setBackend at /home/bluehope/.julia/v0.4/ArrayFire/src/backend.jl:68

NVIDIA-Smi
Tue Aug  2 04:10

[2016-08-01 19:18] pavanky commented on #62
ArrayFire v3.3 is not built with CUDA 8. You'll need to build the devel branch of arrayfire from source. Considering that it is a devel branch, expect it to be a bit buggy.

Alternatively, you can use the OpenCL backend which doesn't depend on the CUDA toolkit. You'll however not get the peak performance for linear algebra and FFTs.

[2016-08-01 19:19] pavanky commented on #62
Keep in mind that 8.0 available right now is still a release candidate and a version of arrayfire will be available with 8.0 once the final version is released.

[2016-08-02 01:22] bluehope commented on #62
Thank you for the reply. I've checked ArrayFire versions and OPENCL also.

1. I've used ArrayFire v3.4 & It seems working
./blas_cuda
[code]
2. However the "OPENCL" backend still don't works.

[code]

@pavanky  Would there be another thing that I've missed??
Would there be some problem binding ArrayFire3.4V with Julia? (even without cuda 8.0)
Thank you in advance!

[2016-08-02 02:23] pavanky commented on #62
It could potentially be a missing `LD_LIBRARY_PATH`. The examples from the library use `-rpath` during compilation so they work fine.

Can you run `ldd` on `libafcuda.so.3.4.0` and show the output ? (Same with `libafopencl.so.3.4.0` ?)

Can you also show output of `info` when using cpu backend from Julia?

[2016-08-02 04:40] bluehope commented on #62
@pavanky Thankyou for your kind support!.

This was my original path setting
[code]

And I had to add bellow line and it works! (http://arrayfire.org/docs/unifiedbackend.htm)

[code]

[2016-08-02 04:41] #62 closed

[2016-08-09 17:38] 5k3105 opened #63 "ERROR: LoadError: could not load library "af""
Hi,

Running Win7 x64:

[code]

[2016-08-18 19:59] musm opened #66 "Error showing value of type ArrayFire.AFArray{Float32,2}:"
On v0.5rc2

[code]
Also  https://github.com/JuliaComputing/ArrayFire.jl/blob/master/src/config.jl#L8
should be pulled out of the if statement

[2016-08-19 16:43] ranjanan commented on #66
Thanks for reporting this. I noticed this a little earlier and #65 should fix it.

[2016-08-19 17:12] musm commented on #66
Thanks  (also see that this line is pulled out of the if statement https://github.com/JuliaComputing/ArrayFire.jl/blob/master/src/config.jl#L8
)

[2016-08-30 15:50] r3tex opened #67 "set_device and release_array"
As per the suggestion of ArrayFire folk, I'm posting some questions/answers here.
I built CUDA 8 and ArrayFire on Xenial from source, and a number of symlinks were causing issues during the build. It was probably my own fault. Notably though, I had to add /usr/local/cuda/nvvm/lib64 explicitly to ld.so.conf.d because the installer didn't do that automatically and CUDA just silently failed to load.

[2016-08-30 16:04] pavanky commented on #67
@r3tex about the memory running out, try calling `gc()` (Julia's garbage collector) after a few iterations. This releases any dangling references to objects that are no longer in scope.

[2016-08-30 16:12] r3tex commented on #67
@pavanky excellent! That thread clears things up.

[2016-08-30 19:41] ranjanan commented on #67
@r3tex Thanks for filing this issue. As Pavan must have told you, there's an ongoing discussion with regard to the gc in #27. I've also added some code to let you switch devices in #68.

Could you do a `Pkg.checkout("ArrayFire", "RA/device")` to check out my branch ( #68 ) and try using the function `setDevice(device_id)`? This should fix the first part of your issue.

[2016-08-30 20:08] ranjanan commented on #47
The issue was fixed in #65. You can try:
[code]
Also,
[code]

[2016-08-30 20:08] #47 closed

[2016-08-31 16:05] richardreeve commented on #47
@ranjanan - excellent, thanks very much!

[2016-08-31 16:16] musm commented on #66
Thanks

[2016-08-31 16:16] #66 closed

[2016-08-31 16:17] musm opened #69 "config.jl bug"
https://github.com/JuliaComputing/ArrayFire.jl/blob/master/src/config.jl#L8
should be pulled out

[2016-08-31 17:42] ranjanan commented on #69
Yes, thanks for pointing it out. I'm going to modify this to put it in a try-catch, because [this](https://github.com/JuliaComputing/ArrayFire.jl/blob/master/src/config.jl#L6) is most likely going to break if the library isn't found. The line still needs to go out.

[2016-09-09 13:32] robertfeldt opened #71 "sync() barrier in BlackScholes example?"
The speed comparison seen in the BlackScholes example is very impressive but shouldn't there be a `sync()` barrier before measuring time? Since the sum function is now called outside of the timing it seems to me the timing could be misleading.

[2016-09-09 18:48] dpsanders opened #72 "`dot` should return a scalar"
[code]

gives

[code]

But `dot` should always return a scalar, not a vector.

[2016-09-09 18:51] dpsanders opened #73 "Matrix * vector should give vector"
Currently it gives a matrix.

[2016-09-09 19:09] pavanky commented on #73
ArrayFire does not differentiate between "1D matrix" and a vector. I suppose handling this is going to take a lot of work in the Julia Wrapper.

[2016-09-14 17:44] dpsanders opened #74 "Showing an AFArray does not work in Julia v0.5"
[code]

[2016-09-14 18:22] dpsanders opened #75 "size returns wrong result for AFArray"
[code]

ArrayFire reports that

[code]

but

[code]

[2016-09-14 18:23] dpsanders commented on #74
This is fixed in master.

[2016-09-14 18:23] #74 closed

[2016-09-14 18:41] ViralBShah commented on #74
Do say if a new release should be made in case needed for class.

[2016-09-14 19:57] dpsanders commented on #74
That would be great, yes please.

On 14 Sep 2016 14:41, "Viral B. Shah" <notifications@github.com> wrote:

[2016-09-14 20:09] ViralBShah commented on #74
Maybe tomorrow and hopefully with the `size` fix.

[2016-09-16 19:02] dpsanders opened #76 "norm of an AFArray{Float32} should return a Float32"
`norm` of an `AFArray{Float32}` should return a `Float32`, not a `Float64`.

[2016-09-20 08:44] #69 closed

[2016-09-20 09:48] ranjanan commented on #72
Yes, you are right, but, like in #73, ArrayFire returns an ArrayFire array for a dot product. One way to handle that is to automatically transfer to the CPU and return a scalar value. But that initiates a device-to-host transfer.

[2016-09-20 10:21] #67 closed

[2016-09-20 10:59] #76 closed

[2016-09-20 11:17] ranjanan commented on #75
The reason this happens is that when ArrayFire gets `[1 2]'`, it gets the raw pointer, and understands it as a single dimensional array. If you write `ndims(vv)`, you will get `1`.  You're right, it would be nice if this were consistent with Base Julia.

[2016-09-20 11:21] ranjanan opened #79 "Indexing matrix returns 2D row on Julia v0.5"
[code]
Currently, ArrayFire returns a 2D row just like in Julia v0.4, but unlike v0.5.

[2016-09-20 11:36] ViralBShah commented on #79
Should mirror the Julia 0.5 behaviour and if possible without creating a copy for the transpose.

[2016-09-20 11:43] pavanky commented on #79
Transposes of rows and columns in arrayfire are usually shallow copies.

[2016-09-25 15:01] LMescheder opened #80 "Sparse Arrays?"
Array fire includes [limited sparse array functionality](http://arrayfire.org/docs/group__sparse__func.htm). Are there any plans to wrap these?

[2016-09-25 16:54] pavanky commented on #80
`af_matmul` also supports sparse matrix, dense {matrix, vector} multiplications.

[2016-09-26 04:21] ranjanan commented on #80
@LMescheder thanks for reporting this. Support for this will be included ArrayFire very soon.

[2016-09-26 04:26] pavanky commented on #80
@ranjanan on a related note, there have been other functions added to arrayfire in 3.4.0:
https://github.com/arrayfire/arrayfire/releases/tag/v3.4.0

If it helps, I made the following issue when adding the necessary functionality to the python wrapper
https://github.com/arrayfire/arrayfire-python/issues/100

[2016-09-26 04:28] ranjanan commented on #80
@pavanky Thanks! This is very helpful.

[2016-09-26 04:31] pavanky commented on #80
The names in the python wrapper are not identical, but they should provide as a template for the functions to be added.

[2016-09-28 09:39] ranjanan commented on #80
@LMescheder I might not be able to get around to adding more functionality to this package for a few weeks. Would you mind putting together a PR to the package? That would be much appreciated. I would help and review as necessary. In general, more contributions to this package would be highly appreciated.

[2016-10-01 23:23] ivfiev commented on #12
using windows 10, cuda 8 and gtx 1080
transposing and multiplying seems to be quite slow in some cases:

[code]

[2016-10-02 05:52] ViralBShah commented on #12
Are these upstream issues?

[2016-10-02 07:09] pavanky commented on #12
Hmm that doesn't seem right. @ivfiev can you try running this multiple times?

[2016-10-02 16:47] ivfiev commented on #12
@pavanky same issue when running multiple times
[code]
tried with different versions of cuda 8 (RC and current), same problem

this works fine though:
[code]
so it happens only when we are transposing and multiplying in same expression

[2016-10-10 16:22] lilinjn commented on #74
hi -- a new release may be a good idea to avoid panic with new users -- I also just stumbled on this in my first interaction with ArrayFire.jl after Pkg.add().  cheers, nehal

[2016-10-11 10:28] ucanfzh opened #81 "ifft signal not defined error"
Got the following error when run ifft(rand(AFArray{Float64},3,3));
The error occurs only when the argument is of 2 dimensional.  For dimension N=4, the return array is of type Array{Complex{Float64}, N}.

ERROR: UndefVarError: signal not defined
 in af_ifft2(::Base.RefValue{Ptr{Void}}, ::ArrayFire.AFArray{Float64,2}, ::Float64, ::Int64, ::Int64) at C:\Users\fucai\.julia\v0.5\ArrayFIre\src\wrap.jl:

[2016-10-11 13:36] ranjanan commented on #81
Thanks for reporting this. That's a bug. I'll push a commit to fix this right now.

[2016-10-11 13:52] ucanfzh commented on #81
Thanks for the quick action!
Also noticed that the code rand(AFArray{Float64}, N1, N2, ...,Np) always returns a 4D array for dimensions larger than 4 (p>4).

[2016-10-11 14:05] ranjanan commented on #81
@ucanfzh The array fire library supports a maximum of 4 dimensions, unless I'm mistaken. @pavanky, could you please elaborate on the rationale for this? Thanks.

[2016-10-11 14:10] ranjanan commented on #74
@lilinjn thanks for the suggestion. I'm considering tagging a new release for bug fixes for v0.5 soon.

[2016-10-12 10:17] #81 closed

[2016-10-19 19:25] JMurph2015 opened #83 "ArrayFire just doesn't work at all, Julia v0.5, v0.6"
Hi,
So I've rebuilt the ArrayFire library a couple times, compiled Julia v0.5 and v0.6 with and without CXX support, and none of it gets me anywhere beyond ArrayFire.jl just quitting out of the gate.  I can provide a lot more details, but to start, here's the output of several of the diagnostic commands.

[code]

My system is on Ubuntu 16.04, with NVidia 960M graphics, NVidia CUDA toolkit 8.0 inst

[2016-10-19 19:52] pavanky commented on #83
Can you try building and running the arrayfire examples ?

[2016-10-19 21:27] JMurph2015 commented on #83
[code]

[2016-10-19 21:30] JMurph2015 commented on #83
Also I have this too.
[code]
I'll keep including the Julia header, just so that everyone can see the exact test conditions as best as possible.

[2016-10-19 22:50] pavanky commented on #83
Sorry, I meant actual C++ examples.

[2016-10-19 23:41] JMurph2015 commented on #83
This seems to be promising, but /usr/local/cuda/lib64 has those files, and they are in the LD_LIBRARY_PATH
[code]
Not sure what's going on, but if you have ideas, that'd be great (although I can move this on over to ArrayFire's Github or StackOverflow.)

[2016-10-20 00:01] pavanky commented on #83
I think these may be two unrelated issues. But I'd suggest moving the build failure to arrayfire github.

[2016-11-02 00:57] musm opened #84 "Anon function unecessary"
https://github.com/JuliaComputing/ArrayFire.jl/blob/5fd0896b9562925c25372a2392cff83fd9e553b8/src/ArrayFire.jl#L14
no need for the anonymous function
` finalizer(a, af_release_array) `

[2016-11-02 06:51] ranjanan commented on #83
@JMurph2015 Were you able to build ArrayFire? If you've moved the build issue to the arrayfire repo, could post a link to the tracker here?

[2016-11-02 07:48] dlfivefifty commented on #19
@ChrisRackauckas I was thinking of supporting AFArray in BandedMatrices.jl.  How would that fit into your proposed GPULinearAlgebra package?

[2016-11-02 08:08] ChrisRackauckas commented on #19
I think the design would be something like, GPULinearAlgebra.jl would be an be a package with abstract types such as AbstractGPUMatrix, and an interface with generic methods as fallbacks (implemented as GPU kernals, probably just calling CUSPARSE, CUBLAS, and ArrayFire). You'd set GPUBandedMatrix <: AbstractGPUMatrix, and then you'd have the fallback methods available, and you'd override `*`, `\`,

[2016-11-02 09:20] dlfivefifty commented on #19
I think it'd probably be better to start out with an interface for `AbstractGPUDenseMatrix` because it seems like it would be hard to treat sparse matrices and dense matrices together.

I think `GPUBandedMatrix <: AbstractGPUMatrix` would be too ambitious and would run into multiple inheritance issues since there'd also be `GPUBandedMatrix <: AbstractBandedMatrix`.  I was planning to change `Bande

[2016-11-02 10:04] SimonDanisch commented on #19
I would start one step earlier: Define a sensible GPU buffer/array type and operations like broadcast, converts between backends (if possible, no copy), and a solid set of helper functions to make it easy to load different backends.
That way we guarantee that the work done is also usable for other packages and not just LinearAlgebra.
Things like making it easy to launch a custom kernel should be a

[2016-11-12 11:55] ucanfzh opened #85 "missing one argument in the af_approx2 definition"
in the ccall to af_approx2, four Ptr{Void}  required in the type list of input argument,  3 are provided.

[2016-11-13 09:34] ucanfzh opened #86 "typo in function iota - tdims not defined"
https://github.com/JuliaComputing/ArrayFire.jl/blob/master/src/create.jl#L95

variable tdims not defined, should be tile_dims?
thanks!

[2016-11-13 14:13] ucanfzh opened #87 "different behavior of AFArray with dimension of length 1"
The Julia native Array and AFArray show different behaviors when the array has a dimension of length 1.
Not sure this are design features or things need to change.
x=rand(AFArray{Float32},3,3) --> 3x3 AFArray{Float32,2} array
y=x[:,:,1] gives error "DimensionMismath ..."
This works fine for native Array.

repeat(x,outer=[1,1,2,1]) ->  3x3x2 AFArray{Float32,3} ,
but with Julia Array, one would get

[2016-11-14 06:57] ranjanan commented on #86
You're right! Thanks for pointing this out!

[2016-11-14 06:57] ranjanan commented on #85
Thanks again for pointing this out! :)

[2016-11-14 07:18] #85 closed

[2016-11-14 07:19] ranjanan commented on #86
Closed by #88

[2016-11-14 07:19] #86 closed

[2016-11-14 07:35] ranjanan commented on #84
@musm I think you're right, but is there any need to change the code now?

[2016-11-14 11:18] ucanfzh commented on #86
Dear Ranjan,

Thank you for your quick actions again!

I'm currently converting my Matlab code to Julia for my research work. The
ArrayFire package is really helpful. I'm still new to Julia. Hopefully, I
can submit pull request one day to help the development of the package,
e.g. plot/graphic support of AFArray (no CPU get involved),
the gfor functionality used in Jacket package for Matlab.
Best r

[2016-11-14 11:45] ucanfzh commented on #87
It seems the array creation functions (rand, ones, constant, ...) all automatically squeeze the last dimension when its size is one. It would be better to let the user  have the option not to squeeze them.  The dimensionality of an array should be kept.
I don't find an easy way to create an uninitialized AFArray with given dimensions, like Array(::type, dim1, dim2), Array(Float32, 3, 3). Would be

[2016-11-16 17:13] musm commented on #84
just a pet peeve but yeah

[2016-11-19 16:23] ucanfzh opened #89 "Error (101): Device out of memory"
Got "out of memory" error when running the following test code
##
import ArrayFire
x = rand(ArrayFire.AFArray{Complex{Float32}},2048, 2048)
y = 0
for m = 1:1000
y = fft(x)
info("m=$m")
mod(m,1001) == 0 && gc()
end
##
Stop at m=76. Cuda backend on Tesla C2050.
If the number 1001 in the function mod is reduced to, say, 50, then the code seems working fine.
It seems the gc has not run sufficiently fr

[2016-11-20 01:23] u0xee commented on #34
@ranjanan Great! I was seeing the same errors that seemed to indicate opencl, but it seems that installing boost was the fix!

[2016-11-22 04:18] ranjanan commented on #89
Julia's gc is non-deterministic, and does not feel the device's memory pressure unfortunately. This is a known issue, please see #27 for discussion details on this. If you find you're using device memory frequently, calling `gc()` (albeit sparingly) should help.

[2016-11-22 18:13] ViralBShah commented on #27
Cc @yuyichao @vchuravy and @maleadt in case he has some good ideas on how to detect GPU memory pressure.

[2016-11-22 18:33] pavanky commented on #27
I don't know how easy this would be (I haven't seen this done anywhere), but if a user can define memory pressure for any given class and tie it to the existing gc (or a new instance of it), it would be a great abstraction instead of having special code inside of Julia to detect memory pressure for various devices.

[2016-11-22 23:14] ucanfzh commented on #89
Thanks.
I have tested a few other functions. It seems only those Fourier transform related functions show such an error. Surprisingly, the fft! and ifft! functions also show errors, which supposes to involve no new memory allocation. Maybe I miss some points here.

[2016-11-23 14:40] SamuelWiqvist opened #90 "Cant run ArrayFire on Windows"
Hi all,

I have been trying to use ArrayFire on a Windows computer.

However, I cannot get it work.

I can build the ArrayFire package, but when I run the test I get:

![af_problem_pic_2_1](https://cloud.githubusercontent.com/assets/12857904/20563881/b953ec5a-b18a-11e6-9c27-f89d861dbac0.PNG)

and

![af_problem_pic_2_2](https://cloud.githubusercontent.com/assets/12857904/20563891/c3a986d8-b18a-11e6

[2016-11-28 17:54] bluephinix opened #91 "array fire julia error"
Pkg.add("ArrayFire")
INFO: Nothing to be done
Pkg.test("ArrayFire")
INFO: Testing ArrayFire
INFO: ArrayFire tests passed
a=rand(10,10)
ad=AFArray(a)
ERROR: UndefVarError: AFArray not defined

[2016-11-28 18:00] #91 closed

[2016-11-30 03:09] gaika opened #92 "return type doesn't match compiler inferred type for some functions"
[code]
produces

`ERROR: return type ArrayFire.AFArray{Float64,1} does not match inferred return type ArrayFire.AFArray{T,N}`

makes operations with small arrays costlier than they should be as Julia will switch to dynamic dispatch for the return value of this function.

[2016-11-30 15:57] ranjanan commented on #92
@gaika Thanks for reporting this. Yes, you're right. This can be improved. This happens because I leave dimension calculation to the runtime.

One way to fix this is to use a `Base.@pure` function to compute the appropriate dimension of the resultant `AFArray`. I'm playing with that right now. I'll come up with a PR soon.

[2016-11-30 17:01] ranjanan commented on #90
@SamuelWiqvist I apologise for not getting to this sooner. The error you're seeing is essentially a printing error. Can you try doing `Pkg.checkout("ArrayFire")` on Julia v0.5 and see if it works for you?

[2016-11-30 17:03] ranjanan commented on #89
@pavanky Would you happen to know the memory consumption patterns of the in-place functions in arrayfire?

[2016-11-30 17:25] pavanky commented on #89
@ucanfzh @ranjanan  `fft` and `ifft` are not inplace (unless you are calling `fft_inplace` and `ifft_inplace`).

Even then libraries like CUFFT and CLFFT  can and may use temporary memory during the computation process.

[2016-11-30 17:54] gaika commented on #92
Can this fix  Matrix * Vector (#73) as well?

[2016-11-30 18:33] ucanfzh commented on #89
@pavanky @ranjanan, Thanks! the function fft! and ifft! are indeed calling af_fft?_inplace and af_ifft?_inplace, where ?=1, 2, 3.
Extra memory allocation for an in-place operation seems quite odd. To me, the main point of using in-place function is to allow big array that will be too large for the memory otherwise.

[2016-11-30 19:00] pavanky commented on #89
@ucanfzh
I just looked at your code, is `mod(m, 1001) == 0` ever evaluating to true? If not all the previously allocated memory is not freed.

@ranjanan how does `fft` call `af_fft_inplace` when it is returning an output ?

[2016-11-30 21:57] ucanfzh commented on #89
@pavanky , you are right the code mod(m, 1001) == 0 will not be true as it is for m=1:1000. That means gc will not be trigger manually. I include that line to illustrate how often I have to call gc to avoid out of memory error. To your other question, fft! (note the bang symbol at the end) is the in-place version of fft, which call af_fft_inplace.

[2016-11-30 23:25] pavanky commented on #89
@ucanfzh I see. But you are calling `fft` not `fft!` in the example. This creates a new array which is not garbage collected. Isn't this expected behavior ?

[2016-12-01 07:49] ucanfzh commented on #89
@pavanky , you are right the example was for fft which was the first function that I encountered the out-of memory error. Later I notice fft!, ifft! also give the same error which is bit to my surprise.

[2016-12-02 09:37] SamuelWiqvist commented on #90
@ranjanan ArrayFire now works on Julia 0.5. Thanks!

[2016-12-02 09:37] #90 closed

[2016-12-04 12:20] alha02 opened #95 "falses returns true"
falses(AFArray{Bool}, m, n) is expected to return an array of false values. I get the following output:

julia> Array(falses(AFArray{Bool}, 4, 2))
4x2 Array{Bool,2}:
 true  true
 true  true
 true  true
 true  true

[2016-12-04 12:26] alha02 opened #96 "subsetting AFArrays"
It would be nice to be able to subset an existing AFArray without having to get the data from the device and then push it back. If I do:
[code]
I get the following output:
[code]
where
[code]
I.e. it is just using the first row values for all subset rows. Is it possible to make the results consistent with subsetting a regular Array?

[2016-12-04 15:45] #95 closed

[2016-12-04 17:46] alha02 opened #99 "union of arrays of length 1 does not work"
Taking union works when the arrays are of length > 1:

julia> Array(union(AFArray([1,2]), AFArray([4,54])))
4-element Array{Int64,1}:
  1
  2
  4
 54

but not when arrays are of length 1:

julia> Array(union(AFArray([1]), AFArray([4])))
ERROR: ArrayFire Error (202) : Invalid input argument
 in throwAFerror(::Int32) at /Users/alha02/.julia/v0.5/ArrayFire/src/error.jl:50
 in af_set_union(::Base.RefV

[2016-12-04 19:19] bscohen1 commented on #80
Has ArrayFire been updated to include sparse array constructors?  I am looking to construct COO sparse arrays and solve a linear system Ax=b.

[2016-12-04 19:20] bscohen1 opened #100 "Windows Installation with CUDA backend"
I am still a Julia newb but I am having trouble getting ArrayFire to recognize CUDA as a backend.

I am using Windows 7, Julia v 0.6 and have downloaded and tested CUDA Toolkit v8.0.

Any help would be appreciated thanks!

[2016-12-05 11:46] ranjanan commented on #99
Hi @alha02, thanks for pointing this out. This is an error in the original C++ library, and I've filed a bug report here (https://github.com/arrayfire/arrayfire/issues/1660).

[2016-12-05 11:57] ranjanan commented on #96
Hi @alha02, you can subset AFArrays without transferring back and forth

[code]
Do you face any problems running the above code?

[2016-12-05 18:36] alha02 commented on #96
Hi ranjanan, thanks for the swift reply. No I don't have an problems running the code, I was just expecting a different result. I just saw that I made a mistake in the example earlier, but if we take this example without ArrayFire:

julia> keep = fill(true, 10)
10-element Array{Bool,1}:
 true
 true
 true
 true
 true
 true
 true
 true
 true
 true

julia> keep[3] = false
false

julia> keep[5] = fals

[2016-12-08 20:20] Foadsf opened #101 "ArrayFire wrapping not working on mac OS X"
I installed ArrayFire using HomeBrew and then linked it. ran `Pkg.test("ArrayFire")` command and the result is: `INFO: ArrayFire tests passed` but when I'm trying to follow [the example in this page](https://github.com/JuliaComputing/ArrayFire.jl) I have the error `ERROR: UndefVarError: AFArray not defined` . I would appreciate if you could help me.

[2016-12-09 13:14] awrenn opened #102 "ArrayFire.jl not connecting to CUDA backend on Ubuntu"
I am having issues where my ArrayFire.jl package loads and operates on CPU backend, but when I run
[code]
I get back
[code]
I am running CUDA v8.0, Ubuntu 16.04, and ArrayFire 3.4.1, and CUDA and ArrayFire both pass their internal build tests.
I don't believe this is a JD_LIBRARY_PATH issue, but the error seems to point towards some sort of library issue. I hope you have some advice to help me sol

[2016-12-10 16:55] ameresj opened #103 "Complex128 set not working"
I am getting an weird error in this example, when setting complex numbers. Backend is OpenCL ArrayFire version 3.5.0.
[code]

[2016-12-10 21:03] gaika opened #104 "Array versions of exp, sin, etc. are deprecated in v0.6 Base"
What is the proper way to write portable code since the array versions of math functions got deprecated in v0.6? Is it even possible to support broadcast fusion in statements like exp.(sin.(x))?

[2016-12-11 05:48] gaika commented on #104
Is it possible to map Julia's `broadcast` and `broadcast!` to ArrayFire's `gfor`?

[2016-12-11 15:55] ViralBShah commented on #104
It ought to be possible, I think.

[2016-12-11 18:49] pavanky commented on #104
FYI this is what we I ended up doing in python as an alternative to GFOR:

- http://arrayfire.org/arrayfire-python/_modules/arrayfire/bcast.html#broadcast
- http://arrayfire.org/arrayfire-python/_modules/arrayfire/index.html#ParallelRange

[2016-12-12 00:11] gaika commented on #104
I'm just trying to make [automatic differentiation](https://github.com/gaika/AutoDiffSource.jl) work with ArrayFire. After type stability fixes in #93  basic math operations now work fine, but lack of `broadcast()` support is a showstopper for all other functions.

[2016-12-12 16:57] alha02 opened #107 "feature request: wrap tile functions"
Would it be possible to have wrappers for the tile-functionality in the arrayfire lib, to enable efficient vectorization?

[2016-12-12 16:59] pavanky commented on #107
@alha02 I think it is called `repeat` in the wrapper.

[2016-12-12 17:41] alha02 commented on #107
Ah, nice. Thanks!

[2016-12-12 17:41] #107 closed

[2016-12-12 18:13] ranjanan commented on #101
@Foadsf have you tried doing `using ArrayFire` and then running your code? Does the following example work for you:
[code]

[2016-12-12 18:36] Foadsf commented on #101
now it works. sorry if I'm a noob. but the instructions in that page does not mention the step for using `using ArrayFire` :) you may consider adding it

[2016-12-13 00:36] gaika opened #109 "sign() in arrayfire is different from julia"
In ArrayFire sign() gives "output is 1 for negative numbers and 0 for positive numbers" while in julia it is "Return zero if x==0 and x/|x| otherwise (i.e., ±1 for real x)."

[2016-12-13 00:46] pavanky commented on #109
Hmm in retrospect, arrayfire should have called it `signbit`. The definition of `sign` in Julia makes more sense.

On the positive side, since it is a JIT function, doing something like the following internally is still a single function in arrayfire:

[code]

[2016-12-13 02:50] gaika commented on #73
I have a fix for it my branch https://github.com/gaika/arrayfire.jl , not very hard.

[2016-12-13 05:13] ranjanan commented on #73
@gaika could you submit the fix as a PR please? Thank you very much.

[2016-12-13 06:09] ranjanan commented on #104
I think for v0.6 I can define the appropriate broadcast functions. However, I don't think there would be any benefits from the fusion operations at the Julia wrapper level. ArrayFire's JIT would perform those fusions internally

[2016-12-13 06:42] #96 closed

[2016-12-13 14:29] ViralBShah commented on #104
@ranjanan How difficult is it to support broadcast for the 0.6-dev without breaking 0.5. Let's do it if we can. But if it is tedious, let's wait for 0.6.

[2016-12-14 11:42] ranjanan commented on #101
Sure, I'll add it to my README. Thanks for the suggestion! :)

[2016-12-14 11:46] ranjanan commented on #104
The simplest way to address this is to simply define for versions greater than v0.5:
[code]
This would support the `.` syntax, but still leaves all the kernel fusion to the ArrayFire library. So the `exp.(sin.(x))` syntax would be the same as `exp(sin(x))`, while ArrayFire's JIT  fuses the `exp` and the `sin`.

I shall send a PR with this patch soon.

[2016-12-17 17:01] ghost opened #113 "repeat is not consistent with Array when outer is 1"
For regular Arrays:

julia> x = randn(4,2)
4×2 Array{Float64,2}:
  0.216717   1.91752
  1.3493    -1.50448
 -1.89128    0.607526
  0.317094  -1.57292

and

julia> repeat(x, outer=[1,1,1])
4×2×1 Array{Float64,3}:
[:, :, 1] =
  0.216717   1.91752
  1.3493    -1.50448
 -1.89128    0.607526
  0.317094  -1.57292

i.e. we increase the dimension of the array with repeat. With AFArrays:

julia> x = randn(

[2016-12-18 04:58] #104 closed

[2016-12-18 05:31] ranjanan commented on #89
Closing this so you can follow #27

[2016-12-18 05:31] #89 closed

[2016-12-18 05:32] #52 closed

[2016-12-19 06:46] #84 closed

[2016-12-20 15:43] shehzan10 commented on #80
@bscohen1 You can use the [sparse()](http://arrayfire.org/docs/group__sparse__func__create.htm) function to create sparse matrices.
Other sparse handling functions can be found [here](http://arrayfire.org/docs/group__sparse__func.htm).

Lastly, you can see sparse usage under the [Conjugate Gradient example](http://arrayfire.org/docs/benchmarks_2cg_8cpp-example.htm).

[2016-12-21 23:06] alha02 opened #115 "subsetting arrays converts AFArray to Array"
If I do:

julia> x = randn(AFArray{Float64}, 5,3); Array(x)
5×3 Array{Float64,2}:
 -1.35003    0.348746  -1.65827
 -0.121518  -1.59176    0.0107386
 -0.28531    1.86908    1.39863
 -0.656605  -2.00912   -1.01922
  0.369328  -0.126166   1.10722

and

julia> x[:, [1,3]]
5×2 Array{Float64,2}:
 -1.35003   -1.65827
 -0.121518   0.0107386
 -0.28531    1.39863
 -0.656605  -1.01922
  0.369328   1.10722

i

[2016-12-23 23:45] jpsamaroo opened #117 "PosDefException on cholesky of 2000 x 2000 array in benckmark.jl"
Hey all! I just pulled down ArrayFire.jl this evening, and must say it's a wonderful library! However, I got an error while trying to run the provided benchmark.jl script:

julia> using ArrayFire

julia> include(joinpath(homedir(), ".julia/v0.6/ArrayFire/benchmarks/benchmark.jl"))
INFO: Warmup done!
INFO: Matmul
Time (CPU): 0.251383796
Time (GPU): 0.0329954767
INFO: FFT
Time (CPU): 0.320795333
Tim

[2016-12-24 10:44] ViralBShah commented on #117
What happens if you try with a smaller matrix?

[2016-12-24 14:25] jpsamaroo commented on #117
I've tried random `n x n Float32` matrics with `n = [1995, 1990, 1500, 1000, 100, 10]`, and all of them threw a `PosDefException` every so often (although it occurred much less often with smaller sizes of `n`). I assume this means that `a * a'` is not sufficient to ensure that the matrix is positive-definite? Wikipedia tells me that that's one of the properties necessary for `chol()` to properly f

[2016-12-25 17:18] jpsamaroo commented on #109
Would it make sense to rename `sign` to something like `signbit` instead? I feel like this could trip up some people who, like me, are using `AFArray` as a drop-in replacement for Julia's `Array` to enable GPU offload, and assume that all operations are (approximately) equivalent.

The alternative, of course, is to document and highlight this in the README.

[2016-12-26 08:32] ViralBShah commented on #109
ArrayFire should be designed to be as close to the drop-in for Julia Arrays. I think the Julia `signbit` has the same behaviour, but we should change the ArrayFire julia wrapper to return a boolean instead of 1 or 0.

PR appreciated!

[2016-12-26 09:45] #115 closed

[2016-12-26 10:36] ranjanan commented on #102
Hi @awrenn , can you do `ldd /path/to/libaf.so` and check if all the libraries are linked appropriately?

[2016-12-26 10:38] #117 closed

[2016-12-26 10:39] ranjanan commented on #109
I am unexporting `sign` at the moment, and adding a broadcasted version of `signbit` which works only on v0.5. ( #119 )

[2016-12-26 10:52] #109 closed

[2016-12-26 11:00] #101 closed

[2017-01-07 18:08] LaurentPlagne opened #123 "permutedims!"
Hello,

I have a problem when trying to permute 3D arrays with ArrayFire.jl
`afx` is an `AFArray` of size `(400,200,300)`
`afy` is an `AFArray` of size `(200,300,400)`
`circperm=[2,3,1]`

The _normal_ `permutedims` method is OK
  `afy=ArrayFire.permutedims(afx,circperm)`
but the _inplace_ produces an error (bounds error)
  `ArrayFire.permutedims!(afy,afx,circperm)`

Note that the corresponding Jul

[2017-01-10 17:58] ranjanan commented on #123
Hi @LaurentPlagne , only the function `permutedims` is defined for `AFArrays`. Not all of Julia's Base functions are supported by `ArrayFire.jl`. One way of checking whether a function is supported or not is to do the following after entering `using ArrayFire`.

If you do `methods(permutedims)`, you should get a few functions one of which is

[code]
which tells you that `ArrayFire` supports `permu

[2017-01-10 17:58] #123 closed

[2017-01-11 03:49] ylxdzsw opened #124 "uncomment `wrap` and `unwrap` ?"
I'm new to here, but I can't find the reason why the [af_unwrap](https://github.com/JuliaComputing/ArrayFire.jl/blob/master/src/wrap.jl#L1650) was commented since the `initial commit`. I'm doing something about convolutional neural network and `unwrap` is useful for me. Is there any possibility that this function get uncommented in the near future?

[2017-01-11 13:26] LaurentPlagne commented on #123
Thank you for your help !
I will try to develop permutedims! by myself because I want to avoid the allocation cost induced by permutedims...  (I use it very often inside an ADI solver)
Thank you again for your wonderful work on Julia.

[2017-01-11 15:23] Asdow opened #125 "Element-wise comparison gives opposite results if Real is the first argument"
On Master branch 0.0.3+ comparing an array element-wise with a Real gives opposite results if the Real is the first argument.

`a=rand(AF.AFArray{Float32}, 5,5)`
5×5 ArrayFire.AFArray{Float32,2}:
 0.114771  0.55693   0.227939   0.839315  0.296601
 0.184354  0.691091  0.48058    0.258842  0.370894
 0.619818  0.670235  0.758429   0.270431  0.577221
 0.291823  0.347491  0.0258567  0.36557   0.968503

[2017-01-14 12:21] LaurentPlagne opened #126 "permutedims"
Hi again,

I have a problem when trying to permute 3D arrays with ArrayFire.jl
`afx` is an `AFArray` of size (400,200,300)
`afy` is an `AFArray` of size (200,300,400)
`circperm=[2,3,1]`

The normal `permutedims` method modifies the input parameter `cirperm`
`afy=ArrayFire.permutedims(afx,circperm)`

`circperm` is then  modified to `[2,3,1,4]`

I guess that it is unexpected...

I also tried to figu

[2017-01-24 02:08] bradleyashton commented on #102
I have a similar issue: CUDA v7.0, Ubuntu 14, ArrayFire 3.4.1.

`julia> getActiveBackend()
OpenCL Backend`

`julia> setBackend(AF_BACKEND_CUDA)
ERROR: ArrayFire Error (501) : Failed to load dynamic library.
 in throwAFerror(::Int32) at /home/abradley/.julia/v0.5/ArrayFire/src/error.jl:50
 in af_set_backend(::UInt32) at /home/abradley/.julia/v0.5/ArrayFire/src/wrap.jl:941
 in setBackend(::UInt32) a

[2017-01-24 17:53] alanedelman opened #127 "sum of single precision is double precision?"
[code]

gives

[code]
shouldn't it be Float32 ??

[2017-01-25 00:51] bradleyashton commented on #102
Update: I have fixed the failed self test for the unified backend, had to do
`export AF_DISABLE_GRAPHICS=1`
as the Tesla K40 cards are compute only. However, I get the same error message as above when trying to set the CUDA backend

[2017-01-25 05:02] ranjanan commented on #102
@bradleyashton can you run the Julia command `getAvailableBackends()` and paste the output here?

[2017-01-25 06:57] #127 closed

[2017-01-25 06:57] ranjanan commented on #127
It should be, thanks for reporting this!

[2017-01-25 07:06] bradleyashton commented on #102
[code]
I don't know how relevant this is, but when I compiled `arrayfire` I used
`cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_CUDA=On`

[2017-01-25 07:40] ranjanan commented on #102
@bradleyashton Is there a file called `libafcuda.so` in your `/usr/local/lib/` folder? If so, can you do `ldd /usr/local/lib/libafcuda.so` and paste the output?

[2017-01-25 08:25] bradleyashton commented on #102
[code]

[2017-01-25 08:33] #125 closed

[2017-01-25 08:35] ranjanan commented on #102
It looks like your `livvvm` is not found (`libnvvm.so.3 => not found`). Can you add it to your `LD_LIBRARY_PATH`?

`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/path/to/libnvvm/`

[2017-01-25 08:39] bradleyashton commented on #102
[code]
hopefully that fixed it.
awesome, thanks so much!!

[2017-01-25 08:47] bradleyashton commented on #102
possibly I should open a separate issue (I am happy to, let me know), but if I run the benchmarks, I get
[code]

[2017-01-25 08:52] ranjanan commented on #102
@bradleyashton does `Pkg.test("ArrayFire")` pass tests for you?

[2017-01-25 08:59] bradleyashton commented on #102
[code]

[2017-01-25 09:00] ranjanan commented on #102
Ah, interesting. You know what, can you open a new issue and close this one? We can continue the discussion there.

[2017-01-25 09:05] bradleyashton commented on #102
(not sure how to close as I jumped in on someone else issue)

[2017-01-25 09:09] bradleyashton opened #130 "AFArray call error"
If I do
[code]

but if I do
[code]

If I suppress output I avoid the error:
[code]
and I can also get the array back from the device unharmed.

Possibly related (?): if I run benchmarks I get

[code]
Any help appreciated!

[code]

[code]

[2017-01-25 09:44] ranjanan commented on #102
Oh right. @awrenn could you please respond on this?

[2017-01-25 09:45] ranjanan commented on #130
@bradleyashton can you do `Pkg.checkout("ArrayFire")` and then try again?

[2017-01-25 09:53] bradleyashton commented on #130
Ok that fixed the first issue:
[code]
The benchmark error persists. New issue?

[2017-01-25 09:57] ranjanan commented on #130
Yes please, that looks different.

[2017-01-25 09:58] bradleyashton commented on #130
awesome, thanks!

[2017-01-25 09:58] #130 closed

[2017-01-25 10:00] bradleyashton opened #131 "benchmark error"
If I do
[code]

[code]

[2017-01-25 10:01] ranjanan commented on #131
@bradleyashton can you start up julia by doing `AF_PRINT_ERRORS=1 julia` and then running this again? Do you get any different output?

[2017-01-25 10:02] bradleyashton commented on #131
[code]

[2017-01-25 10:07] ranjanan commented on #131
Umm, this looks like the error you'd get if the files weren't in the same directory. Are you sure that you're the `benchmarks` folder and this is the error you're getting?

[2017-01-25 10:08] bradleyashton commented on #131
oops, updated

[2017-01-25 10:09] ranjanan commented on #131
Hmmm, interesting. Can you paste the output of `AFInfo()`?

[2017-01-25 10:10] bradleyashton commented on #131
[code]

[2017-01-25 10:17] ranjanan commented on #131
Could you run the following code on the REPL and post the output?
[code]

[2017-01-25 10:19] bradleyashton commented on #131
[code]

[2017-01-25 10:32] ranjanan commented on #131
I'm not sure actually. This is an error internal to the c++ library. @pavanky, do you know what's happening here?

[2017-01-25 10:46] ranjanan commented on #126
@LaurentPlagne forgive me for taking some time to get to this. I was on travel.

You are right. Internally, I'm modifying the `circperm` array so I don't create a new `circperm` array every single time you call the function  `permutedims`. If you would like an in place version of `permutedims`, you could post an issue [here](http://www.github.com/arrayfire/arrayfire/issues/) because I don't think

[2017-01-25 15:31] pavanky commented on #131
@bradleyashton what GPU do you have? The error you are seeing occurs when you are running arrayfire on a GPU it is not compiled for.

[2017-01-25 15:33] ranjanan commented on #131
According to https://github.com/JuliaComputing/ArrayFire.jl/issues/131#issuecomment-275068688, he has Tesla K40c.

[2017-01-25 15:42] pavanky commented on #131
@ranjanan Thanks

@bradleyashton

1) Did you compile arrayfire on a different machine before moving it to this machine ?
2) Did you just update a driver and / or the Linux kernel ?

[2017-01-25 19:18] bradleyashton commented on #131
ok, if I run each line of the function, I get:
[code]

to answer the above questions

`1. Did you compile arrayfire on a different machine before moving it to this machine ?`

No, compiled from source according to

https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Linux

with `cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_CUDA=On`

`2. Did you just update a driver and / or the Linux

[2017-01-25 19:50] pavanky commented on #131
@bradleyashton It is likely the Julia wrapper is picking up an incompatible arrayfire library somehow.

Can you launch Julia using `AF_SHOW_LOAD_PATH julia` and run the commands again?

[2017-01-25 19:55] bradleyashton commented on #131
[code]
[code]

[2017-01-25 19:57] pavanky commented on #131
@bradleyashton

[code]

[2017-01-25 20:04] bradleyashton commented on #131
[code]

[2017-01-25 20:10] pavanky commented on #131
@bradleyashton are you able to run `helloworld_cuda` example ?

[2017-01-25 20:27] bradleyashton commented on #131
I ran the file I found here:
[https://www.pdc.kth.se/resources/computers/historical-computers/zorn/how-to/how-to-compile-and-run-a-simple-cuda-hello-world](url)

[code]

[2017-01-25 20:33] pavanky commented on #131
@bradleyashton I mean there should be a `helloworld_cuda` in `/home/abradley/arrayfire/build/examples`

Can you run that file and see what the output is?

[2017-01-25 20:36] bradleyashton commented on #131
oh, sorry, here it is
[code]

[2017-01-25 20:39] pavanky commented on #131
Ah crap, I forgot about another obvious reason for failure.

@bradleyashton @ranjanan is there a rogue `af_set_device` or the Julia equivalent being called in the code?

[2017-01-25 20:42] bradleyashton commented on #131
just to reiterate the commands:
[code]

[2017-01-25 20:47] pavanky commented on #131
@bradleyashton can you add `AFInfo()` just after the for loop inside the `run` function ?

[2017-01-25 20:50] bradleyashton commented on #131
[code]

[2017-01-25 20:53] pavanky commented on #131
Hmm this is completely weird. Does a simple `AFInfo()` followed by `sync()` fail ?

[2017-01-25 20:54] bradleyashton commented on #131
[code]

[2017-01-25 20:55] pavanky commented on #131
@bradleyashton if this happens in a fresh session of Jua, `sync` definitely the cause.

@ranjanan Where is this function defined ?

[2017-01-25 21:01] bradleyashton commented on #131
Ok, here is a fresh session (just to create MWE)
[code]

[2017-01-26 02:40] bradleyashton commented on #131
looks like  its part of backend.jl
[code]

and I managed to get this:

[code]

[2017-01-26 08:56] bradleyashton commented on #131
It seems to be defined in `backend.jl`
[code]

am I right that `af_sync` is an `arrayfire` function? Now I am stumped...

If I run

[code]

[2017-01-26 11:00] ranjanan commented on #131
@pavanky is `af_set_device` called during `af_get_active_backend_id`?

[2017-01-26 16:15] pavanky commented on #131
@ranjanan The ID that needs to be passed to sync is the deviceId! not the backendId!

[2017-01-26 17:00] bradleyashton commented on #131
Thanks a lot for your help guys! It's not working yet for me, but sounds like you have a line on the problem...

[2017-01-27 04:36] ranjanan commented on #131
@pavanky Thanks for pointing that out. I shall fix it.

@bradleyashton In that case, does `AFInfo()` followed by `sync(0)` work for you?

[2017-01-27 04:46] ViralBShah commented on #131
Let's make sure we do an ArrayFire min version check if we don't already do it.

[2017-01-27 04:56] ranjanan commented on #131
@ViralBShah we already do it for that particular function.

I think the best way to is to get the user to enter the device ID manually. The alternative would be creating a temporary and checking for its device ID.

[2017-01-27 07:14] bradleyashton commented on #131
@ranjanan yes,

[code]

[2017-01-27 07:20] ranjanan commented on #131
@bradleyashton Well, in that case, can you do a `Pkg.checkout("ArrayFire")` and then restart julia and run the benchmarks and see if they work for you?

[2017-01-27 07:24] bradleyashton commented on #131
new error:
[code]

[2017-01-27 07:27] ranjanan commented on #131
@bradleyashton Are you sure you did a `Pkg.checkout("ArrayFire")` before  restarting Julia and checking? Because that has been changed to `sync(0)` in #132 and is now on the latest master.

[2017-01-27 07:31] bradleyashton commented on #131
yes, just did it again to be sure

[2017-01-27 07:34] ranjanan commented on #131
Can you paste line 21 of `benchmark.jl` here? Are you using the same file as is given in the repository?

[2017-01-27 07:46] bradleyashton commented on #131
finally found it, I had another in home. Works!
[code]

thanks a bunch!!

[2017-01-27 08:17] ranjanan commented on #131
Alright then, this is fixed by #132

[2017-01-27 08:17] #131 closed

[2017-01-27 10:50] ranjanan commented on #83
@JMurph2015 can you please update this issue?

[2017-01-28 09:47] LaurentPlagne commented on #126
Thank you very much for your detailed answer !

I try to translate (from C++) a HPC solver involving successive dim permutations, both in native Julia and in Julia+GPU. For out-of-cache arrays, the native Julia permutedims! performance s OK (single thread) at about 4GB/s. Because of the missing in place version, ArrayFire is not ;)
I obtain around 3GB/s, while a naïve OpenCl version (via OpenCL.jl

[2017-01-28 09:47] #126 closed

[2017-01-28 18:33] bradleyashton opened #133 "in place fft error"
If I try to use fft! I get the error (should I be expecting the same behavior as Base fft?)

[code]
I am on master:

[code]

Am I doing something daft here? A related question that I am having trouble tracking down documentation on is: does it make sense to use `plan_fft!` on the GPU, or is the planning taken care of by `arrayfire` or `cuFFT`? I am using CUDA 7.

Thanks a lot for any help!

[2017-01-28 18:47] alanedelman commented on #133
Would I be correct in assuming that there is no "in place" fft in array-fire? nor is there
anything like fftw, hence no planner?

[2017-01-28 18:50] bradleyashton commented on #133
It seems to be listed as a supported function:
[https://github.com/JuliaComputing/ArrayFire.jl](https://github.com/JuliaComputing/ArrayFire.jl)

[2017-01-28 21:46] pavanky commented on #133
Arrayfire does have in place fft support. The planning and caching is done internally. I am not sure how that ties up into the Juilia wrapper.

[2017-01-29 05:13] bradleyashton commented on #133
Is there any equivalent of patient plan? I see that there is cuFFTW in CUDA 8, maybe earlier too?

[2017-01-29 05:17] pavanky commented on #133
@bradleyashton I am trying to understand why this would be needed to be controlled externally. Can I get more info about this ?

[2017-01-29 06:01] bradleyashton commented on #133
when solving partial differential equations the FFT is the bottleneck, and one needs to a lot of them on a single array of a particular size and type. On CPU the FFTW library allows rapid calls with only minimal planning by default, but there is also the option to pass
`flags=FFTW.PATIENT` to `fftw` and allow for a lot of time to plan. FFTW then tries a few strategies for execution on the given ar

[2017-01-29 06:26] pavanky commented on #133
@bradleyashton Thanks for the demo. I'll open an feature request upstream to add this functionality for CPU backend through either a function call or an environment variable.

As for CUDA backend, arrayfire uses cufft not cufftw. I think cufftw supporting api compatibility but not feature compatibility. So there will not be any point trying to support this.

[2017-01-29 06:34] pavanky commented on #133
Anyway coming back to the topic, the bug is in this line:

[code]

@ranjanan That should be `Ptr{Void}` instead of `AFArray`

[2017-01-29 06:35] pavanky commented on #133
@bradleyashton can you edit that line and see if your code works?

[2017-01-29 07:19] bradleyashton commented on #133
Yep, that fixed it!

[2017-01-29 08:28] abieler opened #134 "Installation Manjaro Linux"
I cannot use the CUDA backend on Manjaro Linux and with OpenCL I get

"ERROR: GLFW wasn't able to initalize"

Here some information I think might be useful from reading through a possibly related issue on Ubuntu:

[code]

[2017-01-29 16:42] pavanky commented on #134
How did you install arrayfire ?

[2017-01-30 00:33] bradleyashton opened #135 "benchmarking FFT GPU against CPU"
I am trying to establish the level of speedup I can gain using 2D FFT on GPU for a common use case. I want to check that I am writing sensible benchmarks, and getting the full hardware benefit. I get a factor of 17 improvement over CPU Matlab, i.e. 7x faster than Matlab's GPU toolbox.

I am not sure if this is what I should expect, given the benchmarks I have seen at [ArrayFire.jl.](https://github

[2017-01-30 00:38] pavanky commented on #135
@bradleyashton I haven't looked through the entire post, but are you calling `sync` before starting and stopping the timers? If not you are just measuring the time it takes to queue the operation on the GPU not finish it.

[2017-01-30 00:39] pavanky commented on #135
Nevermind, I see that you are calling sync. Let me read the post now :)

[2017-01-30 00:44] bradleyashton commented on #135
also thanks to @pavanky who has already given some feedback on point 4. over at #133 . It would be interesting to know what the philosophy is here: are GPU's too hard to plan on for FFTW?

[2017-01-30 01:01] pavanky commented on #135
@bradleyashton

1) 2048 x 2048 may be close to peak, but I'd try a few larger sizes to see if the difference in performance increases. If you are operating at this size, try adding more batches to see if that scales the performance better (i.e. use 2048 x 2048 x 10 instead of 2048 x 2048).

2) Shouldn't matter for the CUDA backend.

3) No you are using only 1 GPU at a time. You can however switch

[2017-01-30 02:17] bradleyashton commented on #135
Thanks, that's extremely helpful

[2017-01-30 03:44] #135 closed

[2017-01-30 03:58] AshtonSBradley opened #136 "fft on AFArray sub-array error"
Hi, I want to fft a sub-array of a 3D array, on the GPU. To fft over dimensions 1 and 2 of a 3D array, an example of syntax that works for Base.fft is:
[code]
If I try to call fft! for an AFArray (which I assume implements the same behaviour, without planning, according to the documentation), then

[code]

Am I making some syntax mistake here, or should the base behaviour carry over?

[2017-01-30 21:04] abieler commented on #134
From AUR through the system installer (octopi). I tried also with downloading the binary but that did not work either.

[2017-01-30 21:07] pavanky commented on #134
@abieler The output of `af::info()` seems to be off. Can you run `sudo updatedb && locate libafcuda.so` and show the output?

[2017-01-30 22:16] abieler commented on #134
I managed to fix the OpenCL issue. Somehow glfw-wayland had been installed. Replaced it with glfw-x11. This fixes the "ERROR: GLFW wasn't able to initalize" issue.

The CUDA problem is still there.

Here the output of the locate:

/home/abieler/arrayfire-3/lib/libafcuda.so
/home/abieler/arrayfire-3/lib/libafcuda.so.3
/home/abieler/arrayfire-3/lib/libafcuda.so.3.4.2
/usr/lib/libafcuda.so
/usr/lib/l

[2017-01-30 23:09] pavanky commented on #134
@abieler looks like there are multiple versions installed on your machine. Which one did you run the ldd on ?

[2017-01-31 05:40] abieler commented on #134
Yes the one in the home directory is the binary download one, the other from the AUR.
Here ldd for both as I am not sure that I did it on the AUR one as I intended:

ldd arrayfire-3/lib/libafcuda.so
        linux-vdso.so.1 (0x00007fff4ad59000)
        libcudart.so.8.0 => /opt/cuda/lib64/libcudart.so.8.0 (0x00007f5687ead000)
        libcublas.so.8.0 => /opt/cuda/lib64/libcublas.so.8.0 (0x00007f5685

[2017-01-31 05:55] pavanky commented on #134
Please delete the one in /usr/lib. Julia wrapper seems to be picking up 3.4.0 which does not Compute 6.0 cards.

[2017-01-31 21:57] bradleyashton commented on #136
This seems a bit odd, as the documentation suggests that fft! should be fully supported... does this mean that if I want to do batch `fft` of many 2D arrays, I shouldn't be stacking them in a 3D array?

[2017-01-31 22:24] pavanky commented on #136
@bradleyashton What does `[1, 2]` signify here? I don't think `ArrayFire.jl` supports that parameter.

[2017-01-31 22:26] bradleyashton commented on #136
In the CPU code, it means "only do the transform over dimensions 1 and 2 of the array".

[2017-01-31 22:32] pavanky commented on #136
@bradleyashton Ah that makes sense. It looks like those options are not enabled for the wrapper and because of that it can not distinguish between performing 3D FFT on 3D data as opposed to batched 2D FFT.

@ranjanan would it be possible to add that to the wrapper?

[2017-02-01 18:02] abieler commented on #134
Removed both versions and did a new ArrayFire install of the downloadable binary under /usr/local.
I now have all 3 backends available.

However Pkg.test("ArrayFire") throws an error:

[code]

[2017-02-01 18:06] pavanky commented on #134
Can you run Julia with `AF_PRINT_ERRORS=1` exported ?

[2017-02-01 18:11] abieler commented on #134
In function std::string cuda::getCUDARuntimeVersion()
In file src/backend/cuda/platform.cpp:259
CUDA Error (30): unknown error

In function af_err af_create_array(void**, const void*, unsigned int, const dim_t*, af_dtype)
In file src/api/c/array.cpp:67

[2017-02-01 18:16] pavanky commented on #134
Did you upgrade the driver or the kernel recently ? That looks like a driver error.

[2017-02-01 18:17] abieler commented on #134
Yes the kernel was updated. Looking into driver settings now

[2017-02-01 18:19] pavanky commented on #134
You'll need to reboot to use CUDA.

[2017-02-01 18:27] abieler commented on #134
reinstalled the nvidia driver & reboot solved it. Thanks for the very prompt help!

[2017-02-02 04:53] ranjanan commented on #134
@abieler if this issue is resolved, could you close it? Thanks @pavanky for helping out.

[2017-02-02 05:42] #133 closed

[2017-02-03 15:06] SimonDanisch opened #138 "Should constant be named fill"
... or am I missing some difference in behavior? ;)

[2017-02-03 15:17] SimonDanisch commented on #138
Of course besides that it returns an AFArray. That means it would be mandatory to pass the array type like for `ones`.

[2017-02-04 08:56] gaika commented on #27
In https://github.com/JuliaComputing/ArrayFire.jl/pull/121 I have `@afgc` macro that tracks creation of the temporary arrays in a function (or during assignment) to releases them immediately without waiting for `gc()`. That significantly reduces the pressure when there are a lots of temporary arrays.

Separately GPU memory pressure is detected on every call and if above some threshold Julia's `gc(

[2017-02-05 13:15] #134 closed

[2017-02-09 23:51] huliangbing commented on #100
Pkg.test("ArrayFire") is ok?

[2017-02-10 04:09] ranjanan commented on #100
Hi @bscohen1 I have not tested ArrayFire on Julia v0.6 yet. I will do so once it release. In the meantime, can you use Julia v0.5 and make sure you `libaf` is in your load path?

[2017-02-10 04:10] ranjanan commented on #102
Closing due to lack of info

[2017-02-10 04:10] #102 closed

[2017-02-10 04:10] ranjanan commented on #83
Closing this.

[2017-02-10 04:10] #83 closed

[2017-02-10 09:45] JMurph2015 commented on #83
Hi again,
I just saw the action on this issue.  Yes, I did find a standard way for ensuring that it ran properly each time.  I have a custom ldconfig file that I make sure to add to every machine I run it on.  It just makes sure that each part of Arrayfire + every part of the Cuda library and includes are linked.  Will post the exact file here when I'm at a workstation with it installed.
IIRC for

[2017-02-16 16:47] davidbp opened #139 "UsingArrayFire not found in current path (OSX)"
Hi,

I installed the arrayfire library succesfully using

brew upgrade
brew update
brew cask install xquartz
brew install arrayfire

Nevertheless when I do '''' using ArrayFire'''' in the julia REPL I get

ERROR: ArgumentError: Module ArrayFire not found in current path.
Run `Pkg.add("ArrayFire")` to install the ArrayFire package.

I tried Pkg.add("ArrayFire") but as it is explained in the README

[2017-02-16 17:02] ranjanan commented on #139
@davidbp could you post the output of `Pkg.test("ArrayFire")` please?

[2017-02-16 17:03] davidbp commented on #139
julia> Pkg.test("ArrayFire")
ERROR: ArrayFire is not an installed package

[2017-02-16 17:03] ranjanan commented on #139
Did you do a `Pkg.add("ArrayFire")` after it prompted you too? If so, could you paste the output of that?

[2017-02-16 17:04] davidbp commented on #139
Yes I did.

This is the output

[code]

[2017-02-16 17:07] ranjanan commented on #139
The package name is case sensitive. Could you replace `Arrayfire` with `ArrayFire`? Also, I haven't looked at supporting Julia v0.6 yet, so it might not work on that. Could you try `Pkg.add("ArrayFire")` and `Pkg.test("ArrayFire")` on Julia v0.5?

[2017-02-16 17:10] davidbp commented on #139
That is embarrasing. Using it with camel letters it cloned.

It is printing warning though.

[code]

[2017-02-16 17:12] davidbp commented on #139
After the package update (Pkg.update()) it seems to work.
Sorry it was all silly mistakes from my part.

[2017-02-16 17:12] ranjanan commented on #139
Yes, that's happening because I think you're on Julia v0.6 (could you check the output of `versioninfo()` to be sure?). I haven't tested the package on that Julia version yet. Can you try downloading Julia v0.5 from the Julia Downloads page and then trying?

[2017-02-16 17:15] davidbp commented on #139
I can load the package but It is not passing the tests in julia 0.6. I will try now in Julia 0.5

This is what I get
[code]

[2017-02-16 17:31] davidbp commented on #139
Just tried the previous steps in my mac laptop and it seems to work.
Time to try it on a machine with a better AMD gpu and check if there are performance gains.
Thank you ranjanan !

[2017-02-16 17:32] ranjanan commented on #139
Anytime. Thanks for checking this package out!

[2017-02-16 17:32] #139 closed

[2017-02-16 18:25] pranaviyalamanchili opened #140 "Running an example from array fire is giving the following error : warning: libglfw.so.3, needed by /lib/libforge.so.0, not found"
I ran the command ldd libafcpu.so.3

The output looks like the following:
linux-vdso.so.1 =>  (0x00007ffdd553b000)
	libgomp.so.1 => /lib64/libgomp.so.1 (0x00007fd525d34000)
	libdl.so.2 => /lib64/libdl.so.2 (0x00007fd525b30000)
	libpthread.so.0 => /lib64/libpthread.so.0 (0x00007fd525913000)
	libforge.so.0 => not found
	libGL.so.1 => /usr/lib64/nvidia/libGL.so.1 (0x00007fd5255e3000)
	libm.so.6 => /l

[2017-02-16 18:46] pavanky commented on #140
@pranaviyalamanchili You will need to install glfw on your system.

On a side note, your name totally startled me a for a minute :)

[2017-02-16 19:04] pranaviyalamanchili commented on #140
Oh yeah we share the same second name !! Hope you did'nt have people asking you "what is it again? Lemon chilli? :p

I am trying to implement the examples on a cluster at my school. Apparently I am not allowed to install without permissions. I managed to include the libraries and inlcudes from AF and created a makefile. Installing glfw is the only solution?

[2017-02-16 19:27] pavanky commented on #140
@pranaviyalamanchili You can build arrayfire from source by disabling graphics. This may take a while.

Alternatively if you know could just download this file :) http://ci.arrayfire.org/userContent/Linux/ArrayFire-no-gl-v3.4.2_Linux_x86_64.sh

For future downloads, go to the arrayfire download page, and click on the link that says something like "older installers". From there you can find the rig

[2017-02-16 22:14] pranaviyalamanchili commented on #140
Thank you for this link.
I could compile the code.
Now I have a different error when i run the code

 error while loading shared libraries: libafcpu.so.3: cannot open shared object file: No such file or directory

[2017-02-16 22:22] pranaviyalamanchili commented on #140
Oh no. I added to the library path. Its working yay :)

Thanks much pavan for the help

[2017-02-17 03:28] ranjanan commented on #140
Thanks @pavanky for helping out with this.

[2017-02-17 03:28] #140 closed

[2017-02-23 23:41] 4lrdyD opened #141 "ArrayFire library not found"
I installed ArrayFire in Julia with Pkg.add("ArrayFire") and aparently install it without any problem, but when i use Pkg.test("ArrayFire") the promt return  "ArrayFire library not found". I don't know what happen. Any idea?

julia> Pkg.test("ArrayFire")
INFO: Testing ArrayFire
ERROR: LoadError: LoadError: LoadError: ArrayFire library not found
 in error(::String) at .\error.jl:21
 in include_from

[2017-02-23 23:49] pavanky commented on #141
Did you install the arrayfire libraries?

[2017-02-23 23:58] 4lrdyD commented on #141
I only use Pkg.add("ArrayFire"), and i tried use Pkg.test("ArrayFire") As I read in
https://github.com/JuliaComputing/ArrayFire.jl
but return the error.
I have to do something else?

[2017-02-24 00:16] pavanky commented on #141
Did you follow the installation instructions in the README: https://github.com/JuliaComputing/ArrayFire.jl/blob/master/README.md

This repo is only has the Julia bindings for arrayfire. You still need to get the arrayfire dlls using the method described above.

[2017-02-24 01:05] 4lrdyD commented on #141
thanks for help and sorry for the insistence, but the README.md is the same I saw, for Windows says that Arrayfire requires vcomp120.dll, i have installed Microsoft Visual C++ 2013 Redistributable. You mean this dll?, how i see if i have this dll?

[2017-02-24 01:07] pavanky commented on #141
Did you download the arrayfire installers and install them ?

[2017-02-24 01:10] 4lrdyD commented on #141
I only use Pkg.add in the prompt of Julia

[2017-02-24 01:54] pavanky commented on #141
@4lrdyD you'll need to download and install the C / C++ library from here; https://arrayfire.com/download-splash/?redirect_to=/download

[2017-02-24 02:27] 4lrdyD commented on #141
sorry i realized my mistake, it's the step i ignored, I thought that just using Pkg.add was enough, but i was wrong. thanks a lot and sorry for the inconveniences, greetings

[2017-02-24 04:12] #141 closed

[2017-03-03 17:47] lruthotto commented on #80
I was just wondering, if there is any update on wrapping the sparse functions of ArrayFire into julia code.

[2017-03-06 04:51] ranjanan commented on #80
@lruthotto I have been a bit busy with a number of other things. I think @gaika plans on including this functionality in his PR #121.

[2017-03-06 21:40] lruthotto commented on #80
Thanks for the update! Looking forward to seeing this in action. @gaika let me know if you need someone to test this functionality. I don't think I can help much with writing the code, but this I can do.

[2017-03-06 22:22] gaika commented on #80
@lruthotto - Can you write tests? I have all the wrappers for C code already in place (search for `sparse` in https://github.com/gaika/ArrayFire.jl/blob/master/src/wrap.jl ), it is just a matter of making  sure all types match and maybe adjusting function signatures to be more Julian.

[2017-03-08 05:59] gaika commented on #80
Thanks for @lruthotto's initiative and tests it is now possible to convert between `AFArray` and `SparseMatrixCSC` in https://github.com/JuliaComputing/ArrayFire.jl/pull/121

[2017-03-10 15:53] jgbos commented on #136
Curious if this being worked on?  In addition to adding the capability to do a batch of 2D FFTs, it appears that we cannot do an FFT along any dimension beside 1 (line 90 and 100 in `signal.jl`)

[2017-03-10 16:11] ranjanan commented on #136
@jgbos I think that might possibly be a limitation of the underlying C++ library.

[2017-03-22 13:34] jgbos commented on #136
So it looks like for my specific applications this is possible with `af_fft2`.  It will automatically batch many 2D FFTs given an array larger then a matrix, but the Julia implementation only calls `af_fft2` for matrix types.  Don't know if this means you should add an `fft2` function or provide a `region` input to support julia `fft` interface.

[2017-03-24 13:58] jgbos commented on #103
This error is fixed by changing  `setindex!` to the following:

[code]

I don't know if there was a good reason to only use `Real` numbers for this function, but all tests pass and have had no issues using complex numbers.

[2017-03-27 19:07] arsenal9971 opened #143 "Abs of a complex array is not working"
When I run the next code to get the magnitude of each entry of the complex matrix, the result is complex with some precision issues and the actual magnitude repeated in the real and in the imaginary part of the array

[code]
(One more question if I can, is there any fast way to compute the transpose of an AFArray on the device, and not stream it first to the host?)

[2017-03-27 19:37] pavanky commented on #143
@arsenal9971 Transpose should not get the array to host. What are you doing right now ?

[2017-03-28 11:01] arsenal9971 commented on #143
A have an array A that is an ArrayFire.AFArray{Complex{Float32},3} of size 256x256x49 and I want to do the next operation

[code]
this operation takes **3.399006 seconds (527.07 k allocations: 11.489 MB)**, if I send to the host first the AFArray and apply the same operation, i.e.
[code]
which takes **0.084337 seconds (61 allocations: 49.050 MB, 10.69% gc time)**
when I decompose the operation ste

[2017-03-28 23:22] pavanky commented on #143
@arsenal9971 can you show the output of ArrayFire.info() ?
@ranjanan This doesn't sound right. Any idea where the transfer to the cpu is happening ?

[2017-03-29 04:38] ranjanan commented on #143
@arsenal9971 With regard to your first question, `transpose` does not take the array to the host.

[code]

[2017-03-29 05:35] ranjanan commented on #143
As for your second comment, I don't think ArrayFire.jl supports `squeeze` (@pavanky, is there a function for this in the c++ library?). What's happening is that in Julia, `squeeze` is falling back to the AbstractArray implementation, which creates a `ReshapedArray` type, which when summed, seems to create a CPU copy to which new values are written in a loop. This is why I think this is slower.

[2017-03-29 05:37] ranjanan commented on #103
@jgbos Thank you for pointing this out, and apologies for getting to this late. Could you please send a PR with this fix? I would appreciate it.

[2017-03-29 06:15] ranjanan commented on #103
Actually I'll do it myself this time, but it'd be great if you guys can submit PRs (after filing issues) so I can review them and merge them as appropriate

[2017-03-29 06:28] #103 closed

[2017-03-29 06:34] pavanky commented on #143
I don't know what squeeze does..

[2017-03-29 06:36] ranjanan commented on #143
Also, the original issue is addressed by #145

[2017-03-29 06:40] ranjanan commented on #143
@pavanky It removes a particular dimension. For example,

[code]
Check [this](http://docs.julialang.org/en/stable/stdlib/arrays/?highlight=squeeze#Base.squeeze) out for more info.

[2017-03-29 06:46] ranjanan commented on #138
Hi @SimonDanisch, apologies for not getting to this earlier, but the problem I face is this:

[code]
I guess this is because fill takes ANY in the first field. Please let me know if you have a workaround :)

[2017-03-29 06:52] pavanky commented on #143
@ranjanan are you holding the dimension data in the wrapper or are you using arrayfire ? This is because in arrayfire both those arrays are equivalent.

[2017-03-29 07:20] SimonDanisch commented on #138
I think you didn't actually overload the function you're calling, since you forgot `...` after dims!
This works as expected:
[code]

[2017-03-29 07:23] ranjanan commented on #143
Yes, you are right, with regard to the trailing dimensions. But (an equivalent to) the following is what @arsenal9971 is trying to do:

[code]

Now to achieve the latter behaviour a `squeeze(x, 1)` would be nice to remove the first dimension. I was wondering if there were an ArrayFire c++ function like that.

[2017-03-29 09:57] ranjanan commented on #143
Hmmm, @arsenal9971 instead of squeeze(x, 1), maybe you can use `reshape`? In the above example, you can do `reshape(x, 256, 49)`, and then the rest.

[2017-03-29 12:33] arsenal9971 commented on #143
@pavanky I got an empty output when typing in the julia REPL ArrayFire.info() (after calling ArrayFire library)

@ranjanan thanks, actually reshape works perfectly and takes way less time and memory, with the next code
[code]
with **0.000706 seconds (52 allocations: 1.297 KB)**,thanks

[2017-03-29 12:45] ranjanan commented on #143
@arsenal9971 You're probably looking for `ArrayFire.AFInfo()` (I think `AFInfo()` should just work too). It displays ArrayFire version details and the device you're on. If you think all your questions are answered in this issue, would you mind closing the issue please?

[2017-03-29 12:59] arsenal9971 commented on #143
Ok, here is the output
[code]

[2017-03-29 15:54] pavanky commented on #143
@arsenal9971 Intel GPU is not going to give you a significant performance boost over the CPUs.

@ranjanan I think squeeze needs to be implemented in the wrapper using moddims / reshape.

[2017-03-29 16:55] arsenal9971 commented on #143
@pavanky Surprisingly as I am developing a library that uses extensively fft and ifft the performance is improved very well (here some https://github.com/arsenal9971/Shearlab.jl/blob/master/benchmarks/README.md), and it will be used in some Nvidia cards soon.

 I have an extra question maybe for @ranjanan when I want to build in travis a julia package that uses ArrayFire on linux and OSX, what sho

[2017-04-10 16:34] arsenal9971 opened #146 "Automatic squeeze of a 3D Array"
When I am trying to create an ArrayFire of size (n,m,1), it automatically creates an array of size (n,m), namely

[code]
the size of `A1` is (3,3) wheres the size of `A2` is (3,3,1)

[2017-04-19 12:06] prodoelmit opened #147 "ReadOnlyMemoryError() on ccall"
Hello. After installing ArrayFire I'm facing ReadOnlyMemoryError() when I try to call AFInfo() or any other ArrayFire function interfacing with device (openCL backend on AMD card).

[code]

where `wrap.jl:1192` is
[code]

If I exit julia after that it tells me the following:

[code]

Launching julia from gdb gives following:

[code]

versions:

[code]

[code]

Tested both on 0.5.0 and 0.5.1

[2017-04-20 08:44] prodoelmit commented on #147
I should add that today I've met similar error in OpenCL package.
[code]

Looks like there are some problems with accessing device. Any ideas how to debug that?

[2017-04-24 08:40] ranjanan commented on #147
@prodoelmit could you tell me how you installed the c++ library on your system? Did you build it from source?

[2017-04-24 09:41] ranjanan commented on #146
@arsenal9971 You are right, the underlying library reasons about sizes that way. It is definitely a deviation from how Julia behaves (Ref #75 )

[2017-05-09 09:21] JeffreySarnoff opened #149 "ERROR: ArrayFire had test errors"
Julia v"0.7.0-DEV.62" (linux)

[code]

[2017-05-24 11:25] arsenal9971 opened #150 "ArrayFire fft cannot handle matrices of non-dyadic size"
When I am trying to get the fft2 of an arrayfire matrix that has a size distinct that 2^n I get the error:

[code]

[2017-06-11 18:56] dryden4482 opened #151 "UndefVarError: af_array not defined Windows Version 0.6.0-rc3.0"
Failed to Test Array fire. I ran the Array Fire windows setup, added the path to arrayfire and i get the following error.

julia> Pkg.test("ArrayFire")
INFO: Testing ArrayFire

WARNING: deprecated syntax "typealias AFVector{T} AFArray{T,1}" at C:\Users\Dylan-Desktop\.julia\v0.6\ArrayFire\src\ArrayFire.jl:20.
Use "AFVector{T} = AFArray{T,1}" instead.

WARNING: deprecated syntax "typealias AFMatrix{

[2017-06-13 21:05] #151 closed

[2017-06-15 14:31] dryden4482 opened #152 "Array Fire Messing With FileIO in atom on Windows"
The power shell interface works fine with both Array Fire and FileIO for loading a Tiff image. When both packages are installed and the program is run through atom, it crashes resulting in the following error.

No decode delegate for this image format `TIFF'

The same problem occurs when trying to run the program through command prompt with Julia FD_images.

Thanks for the help!

[2017-06-15 14:35] SimonDanisch commented on #152
That sounds like it actually messes with ImageMagick!
See: https://github.com/JuliaIO/ImageMagick.jl/issues/25

[2017-06-15 14:36] SimonDanisch commented on #152
If the ArrayFire C lib actually uses ImageMagick, it wouldn't be a big surprise if that messes things up.
ImageMagick has a super messy OS global initialization procedure -.-

[2017-06-17 18:51] BoundaryValueProblems opened #153 "ArrayFire library not found error"
Hello.
I have some other packages that call ArrayFire functions, and when I tried to use ArrayFire package or test it by ```Pkg.test("ArrayFire")```, I got the following error:
```ERROR: LoadError: LoadError: LoadError: ArrayFire library not found```
This happens either on official release version 0.0.4 or the current master 0.0.4+; also this happens regardless of the platforms (I tested both on M

[2017-06-17 19:23] BoundaryValueProblems commented on #153
Sorry, I just resolved this problem. I didn't know that I have to install the external ```arrayfire``` library manually. Now, ArrayFire.jl works!

[2017-06-17 19:23] #153 closed

[2017-06-17 20:03] BoundaryValueProblems opened #154 "Pkg.test error with julia 0.5.2 on Windows"
Hello. I think I installed ```arrayfire``` library (version 3.4.2) for Windows. My julia version is 0.5.2.
Upon running ```Pkg.test("ArrayFire"), I got the following errors. I want to note that there was no problem with ```Pkg.test("ArrayFire")``` on my Mac OS X though. Here are the errors on my Windows machine:

[code]
I would greatly appreciate your help!
Best,
BVP

[2017-06-19 20:10] BoundaryValueProblems commented on #154
I investigated a bit more, and found out that the problems are mainly in Linear Algebra functions:
[code]
If I comment out the above lines, the test proceeds much further.
Yet one more issue I encountered. ```Pkg.test("ArrayFire")``` after commenting out those Linalg lines, I got the following warning and error upon exits:
[code]

[2017-06-19 23:13] ranjanan commented on #154
Hi @BoundaryValueProblems, I have not tested this package on Windows properly to be honest. I think you need to have installed Visual Studio and a bunch of other things especially if you're installing ArrayFire built with CUDA. It looks like you installed the OpenCL version. Were you able to run the c++ tests too?

[2017-06-20 02:16] BoundaryValueProblems commented on #154
Hi @ranjanan. Thanks for your reply. Well, I haven't tried to compile the c++ codes in ArrayFire/examples/ yet. I just installed make and cmake on my Windows machine. I already have installed GNU C, g++, etc., via git bash for windows. However, when I tried to compile those examples supplied by ArrayFire, cmake complains by saying that:
[code]
Do I really need to install Visual Studio? Is GNU C/g+

[2017-06-20 02:28] ranjanan commented on #154
Did you make sure you followed the instructions [here](https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Windows#arrayfire-build-instructions)? It looks like it lists Visual Studio as a prerequisite.

[2017-06-20 03:32] BoundaryValueProblems commented on #154
Well, Microsoft Visual Studio is a Microsoft software product, which I have to buy; Am I correct?

[2017-06-20 05:00] shhong opened #155 "Stopped working with Julia 0.6"
I just updated to Julia 0.6 and ArrayFire stopped working as follows

julia> using ArrayFire

WARNING: deprecated syntax "typealias AFVector{T} AFArray{T,1}" at /Users/shhong/.julia/v0.6/ArrayFire/src/ArrayFire.jl:20.
Use "AFVector{T} = AFArray{T,1}" instead.

WARNING: deprecated syntax "typealias AFMatrix{T} AFArray{T,2}" at /Users/shhong/.julia/v0.6/ArrayFire/src/ArrayFire.jl:21.
Use "AFMatrix{T

[2017-06-20 15:32] oschulz commented on #155
I'd love to see ArrayFire work with v0.6 as well.

[2017-06-20 16:00] ranjanan commented on #155
@shhong @oschulz There's an excellent PR which @gaika has submitted ( #121 ) which he's getting ready to make ArrayFire work with v0.6. Perhaps you can speed along the process by helping him with his PR.

[2017-06-20 16:02] ranjanan commented on #154
Ah I'm sure they have a community version which you can download for free.

[2017-06-20 16:37] gaika commented on #155
#121 works fine with Julia v0.6. Need more tests to cover areas that I'm less familiar with but otherwise it is stable.

[2017-06-20 19:32] oschulz commented on #155
Thanks, I'll try it out!

[2017-06-20 19:33] oschulz commented on #155
@gaika Looks great! Can I help with anything specific (I'm not an ArrayFire expert, though)?

[2017-06-20 19:45] gaika commented on #155
@oschulz: Need tests that compare the results of native Julia functions with corresponding ArrayFire functions. In the ideal world `AFArray` should be a drop-in replacement for a regular `Array`, right now that is true only for a small (important for me) subset of operations.

 If you can write tests for the functions that are important for you I can make the implementation match your expectations

[2017-06-20 19:59] oschulz commented on #155
@ranjanan, @gaika: Would it be possible to have the rewrite (#121) as a branch in the official ArrayFire repo? That would make it easier for people to try it out via, e.g.,  `Pkg.checkout("ArrayFire", "rewrite")`.

[2017-07-01 07:08] iridiumblue commented on #41
And thanks again.
BTW - can the devs change the wording to "Warning" ?
"Error" is typically meant to indicate a show-stopper.

[2017-07-03 00:31] juliohm commented on #147
@prodoelmit I am having the exact same ReadOnlyMemoryError() with `OpenCL.jl`, I opened an issue there but we still don't know what is the cause: https://github.com/JuliaGPU/OpenCL.jl/issues/137

@ranjanan I compiled Julia v0.6 (release-0.6 branch), do you know what may be causing this? I am fighting with this for days already and couldn't solve it.

[2017-07-11 18:39] alha02 opened #156 "Error on medium large array sum, 0.5.2"
I get the following:
[code]
But the following works:
[code]
Doing both is no problem for smaller arrays:
[code]

I get this both when using an M60 card and a K80 card, so to me it doesn't seem like it should be an issue with running out of memory.

[2017-07-14 22:37] gaika commented on #156
That seems like https://github.com/arrayfire/arrayfire/issues/133 - to work around split in chunks or reshape

[2017-07-14 22:39] gaika commented on #149
I've got it working in Julia v0.6 with #121 , wanna help fixing it for 0.7?

[2017-07-17 20:07] alha02 commented on #156
Thanks, I'll do that

[2017-07-17 20:07] #156 closed

[2017-07-20 07:28] rveltz opened #157 "fft does not return AFarray"
Hi,

I am using the package under v0.6:
[code]
with the following commit. I don't remember if I am using [#121](https://github.com/JuliaComputing/ArrayFire.jl/pull/121)...

[code]

Anyway, doing this simple operation

[code]

returns a `Array{Complex{Float32},1}`. Any thought where this might come from?

Thank you.

[2017-07-20 19:22] hayatoikoma commented on #155
@ranjanan , @gaika
Considering the less activity on this repo and we cannot even import this library on v0.6. can I assume that this original package no longer maintained?

I am also happy to contribute to and use #121 if it is going to be maintained for a long time toward Julia v1.0. It would be great if @gaika can rewrite README to let us understand the current situation. Since nothing is docume

[2017-07-20 19:25] ranjanan commented on #155
@hayatoikoma Yes, I am hoping to merge #121 as soon as possible to support v0.6. Perhaps I or @gaika can update the README to reflect that.

[2017-07-20 19:29] gaika commented on #157
sorry, should be a bug in #121 branch - fft default arguments are not implemented yet, so the call happens to go to julia standard library. If you can help with tests for fft then I can hook up default arguments that would match julia standard library behavior (as discussed in https://github.com/gaika/ArrayFire.jl/issues/3 ).

For now you can use fft(_in::AFArray{T,N},norm_factor::Real,odim0::dim_

[2017-07-20 19:39] gaika commented on #155
I'm working on fixing the last issues that block the merge.

[2017-07-20 20:41] rveltz commented on #157
Indeed, `b2=ArrayFire.fft(a1,1.,128);` seems to work. However it returns a vector with no imaginary part.

[2017-07-20 20:43] oschulz commented on #155
@hayatoikoma: I'm currently using @gaika's master branch (which is further along than this PR, because PR's based on a master don't auto-update), and it has worked quite well for me so far.

[2017-07-20 21:04] gaika commented on #157
@rveltz  oops, let me fix that.

[2017-07-21 11:00] gaika commented on #157
fixed in https://github.com/gaika/ArrayFire.jl/commit/bb4a613416088bdb4dc1fc7aef5f420db93aadd1

[2017-07-21 11:06] gaika commented on #155
Thanks @hayatoikoma  and @oschulz  it is mostly ready. Some docs are out of date, more tests are welcome (current coverage is only 40%).

[2017-07-22 02:53] JMurph2015 opened #158 "Feature Request - memcopy to already allocated AFArray"
Can we get a way to send data to a preallocated location on the GPU?  Does ArrayFire.jl already automatically do this by chance?
Use case:
[code]
If in-place "updates" were implemented for AFArrays this algorithm would avoid allocating more GPU memory for every transfer that it sends data over.  Thanks!

[2017-07-22 07:36] rveltz commented on #157
Excellent! Thank you.

[2017-07-22 07:36] #157 closed

[2017-07-22 10:00] gaika commented on #155
I'd say it is ready to merge, just backported all bugfixes.

[2017-07-22 10:09] gaika commented on #158
Definitely possible to copy from GPU to main memory without extra allocation with `af_get_data_ptr`, but don't see how for an opposite direction. @pavanky?

[2017-07-22 10:12] gaika commented on #146
fixed in #121

[2017-07-22 10:13] gaika commented on #75
fixed in #121

[2017-07-22 10:17] gaika commented on #138
it is `fill` in #121

[2017-07-22 10:20] gaika commented on #136
fixed in #121 - there is `fft2` that would do 2D FFT on a 3D matrix in batch mode. Also `fft1`, `ifft2`, etc.

[2017-07-22 10:21] gaika commented on #92
fixed in #121

[2017-07-22 10:21] #92 closed

[2017-07-22 10:23] gaika commented on #71
fixed in #121 , speedup is less insane now :)

[2017-07-23 07:09] gaika commented on #158
possible both ways with `af_write_array` and `af_get_data_ptr`

[2017-07-23 07:13] JMurph2015 commented on #158
Thanks! That was really useful!  Any gotchas I should be aware of and/or are there docs?
Thanks!  (Also you're doing great work on the Julia 0.6 compatibility!)

[2017-07-23 07:34] gaika commented on #158
It is kinda tricky and undocumented on the Julia side, I'll do it. If you want to help, take a look at coverage report, see the functions that are not covered and you think are useful and add a PR with tests here https://github.com/gaika/arrayfire.jl

[2017-07-23 08:43] gaika commented on #158
added https://github.com/gaika/ArrayFire.jl/commit/9f8f5ae63a148f0a199fb0a7048dce61cb8df5e6

[2017-07-24 07:14] rveltz opened #159 "Slower and slower execution - memory leak?"
Dear All,

I am trying to solve PDE with ArrayFire using `v0.6` on OSX.
I ported the [code](http://nbviewer.jupyter.org/url/homepages.warwick.ac.uk/staff/C.Ortner/julia/PlaneWaves.ipynb) by **Christoph Ortner** to ArrayFire with [#121](https://github.com/JuliaComputing/ArrayFire.jl/pull/121)

[code]

However, running the for-loop many times leads to GPU memory increase (as seen with iStat) which m

[2017-07-24 08:17] gaika commented on #159
This is expected - the references to AFArrays are still held by temporary Julia objects and will not go away until `gc()` cleans up Julia objects locking them.

To work around this you can either add `afgc()` in your loop (might be slower) or move your step computation into a function and add `@afgc` before the definition (would clean up all temporary AFArrays).

[2017-07-24 08:24] gaika commented on #159
Something like this:
[code]

[2017-07-24 08:33] gaika commented on #159
Better error message when running out of device memory should help: f3a24ebb8da14b7ed02709c0b50e480a4d3ea007

[2017-07-24 09:54] rveltz commented on #159
Thank you! Would it call afgc for each call to `take_step`? How `GPUArrays` deals with the same issue?

[2017-07-24 10:05] rveltz commented on #159
Also, `take_two` not seem to update u

[2017-07-24 10:08] gaika commented on #159
`@afgc` is much smarter than `afgc()` - it will collect the references to all temp arrays and then free them when leaving the scope. `afgc()` just checks for memory pressure and calls `gc()` when GPU memory usage is above threshold. Julia dev team response - https://github.com/JuliaComputing/ArrayFire.jl/issues/27#issuecomment-228578062

[2017-07-24 10:08] SimonDanisch commented on #159
GPUArrays doesn't have such a smart compute graph and just offers inplace operations for everything to keep it in business ;) So you can just write the code in a way that you don't need to allocate... And then there is also `free`, to manually free arrays.

[2017-07-24 10:08] rveltz commented on #159
Thank you to both of you for clear insights.

[2017-07-24 10:11] gaika commented on #159
Yeah, sorry, didn't notice, you'd need return both u and t_plot from the function

[2017-07-24 10:16] rveltz commented on #159
But then I get the memory issue again :(

[code]

[2017-07-24 10:25] gaika commented on #159
well, at least now only `uc` is leaking (because it is returned from the `@afgc` scope and can not be freed). So push the loop into another function and `@afgc` it too :) `@afgc` scopes can be nested for higher gc efficiency.

[2017-07-24 10:57] gaika commented on #159
Or you can use in-place assignment if `u` size doesn't change: `u .= real(...`
Or you can manually release old `u` with `finalize(u)` - but that will crash if you ever access `u` again.

[2017-07-24 11:57] rveltz commented on #159
The broadcast segfaults.

[code]

gives:

[code]

which seems to be the line `u .= ...`

[2017-07-24 12:47] gaika commented on #159
.= is a very recent addition, Pkg.update()

[2017-07-24 19:20] rveltz commented on #159
Indeed!! but I still get the leak with:

[code]

[2017-07-24 20:54] gaika commented on #159
Yep, my bad, should work with 3aabec87c68e6287eb4d86e06290004d60f77786

To verify:

[code]
The count of arrays should not increase from 1 to 2

[2017-07-24 21:37] gaika commented on #159
Added `swap!` so now can do this:
[code]
Save it to a file and run it. Prepare to be blown away (I was).

[2017-07-24 21:48] rveltz commented on #159
Sorry for my newby question, but how do I get this one?

[2017-07-24 21:49] gaika commented on #159
Pkg.update() as usual :)

[2017-07-25 06:50] gaika commented on #159
Hooked up automatic garbage collection - if you don't care about Julia garbage collector kicking in every once in a while then you don't have to do anything. Pkg.update() to 1de91587ab9a0cf084eabc9a61ac65aa04897ec0

[2017-07-25 08:18] rveltz commented on #159
Thank you for putting this together.

How can you disable the automatic Julia gc that you just mentioned?

[2017-07-25 09:23] gaika commented on #159
if you use '@afgc' and do not leak you will not be hitting the threshold and thus no gc()

[2017-07-25 09:50] rveltz commented on #159
Excellent!! Thank you again.

[2017-07-25 09:50] #159 closed

[2017-08-02 14:20] 4lrdyD commented on #155
Hello, I need to work with ArrayFire in Julia 0.6, but not run Pkg.test, I cheked #121 but I don't know what to do with that, i'm confused.

[2017-08-02 15:34] musm commented on #155
@4lrdyD #121  will be merged pretty soon from what I gather in this thread

[2017-08-02 17:08] JMurph2015 commented on #158
Also @gaika, the thought was in the right place, but as of now the implementation actually ends up with more allocations than the standard way.  Secondly, `x::AFArray .= y::AFArray` currently hits a recursion problem (can't remember right off the top of my head but I want to say it was a stack overflow).  But this is awesome work you're doing. (and I can open this issue on your fork if that's bett

[2017-08-08 17:59] gaika commented on #158
changed it to use `swap!` instead of copy, should be faster now.

[2017-09-03 20:34] mohamed82008 opened #160 "Cannot `convert` an object of type Array{Float32,2} to an object of type ArrayFire.AFArray"
I get this error when I run the following code. Any idea what's wrong?

[code]

[2017-09-03 20:36] mohamed82008 commented on #160
I meant to open the issue for the gaika fork, sorry!

[2017-09-03 20:36] #160 closed

[2017-09-06 04:59] mohamed82008 opened #161 "ERROR: InitError: ArrayFire Error (501) : Failed to load dynamic library. See http://www.arrayfire.com/docs/unifiedbackend.htm for instructions to set up environment for Unified backend"
I get the following error when I run `using ArrayFire` in Linux:
[code]
I already added the directory having libaf.so to my LD_PATH_LIBRARY in the bashrc, so I wonder what else could be causing this problem?

[2017-09-06 05:08] gaika commented on #161
Make sure all required libraries are in place (glfw, nvrtc, etc.), then make sure you can run ArrayFire examples. Sometimes you have to run `ldconfig` as root after install to update all the linking:

[code]

[2017-09-06 05:14] mohamed82008 commented on #161
Seems like the following are not found, although I have Cuda:
[code]

[2017-09-06 05:15] mohamed82008 commented on #161
I installed arrayfire on /home/username does it have to be in /usr/local or some other specific folder?

[2017-09-06 06:27] gaika commented on #161
you have to add the path to the missing libraries to the LD_LIBRARY_PATH so they are found.

[2017-09-06 06:58] mohamed82008 commented on #161
Lol I know the problem, I wrote LD_PATH_LIBRARY in the bashrc when it should be LD_LIBRARY_PATH :)

[2017-09-06 06:58] #161 closed

[2017-09-13 09:49] #12 closed

[2017-09-13 10:00] gaika commented on #158
merged with [v0.1.0](https://github.com/JuliaComputing/ArrayFire.jl/releases/tag/v0.1.0)

[2017-09-13 10:00] #158 closed

[2017-09-13 10:00] gaika commented on #155
merged with [v0.1.0](https://github.com/JuliaComputing/ArrayFire.jl/releases/tag/v0.1.0)

[2017-09-13 10:00] #155 closed

[2017-09-13 10:01] gaika commented on #138
merged with [v0.1.0](https://github.com/JuliaComputing/ArrayFire.jl/releases/tag/v0.1.0)

[2017-09-13 10:01] #138 closed

[2017-09-13 10:02] gaika commented on #87
fix merged with [v0.1.0](https://github.com/JuliaComputing/ArrayFire.jl/releases/tag/v0.1.0)

[2017-09-13 10:02] #87 closed

[2017-09-13 10:02] gaika commented on #75
merged with [v0.1.0](https://github.com/JuliaComputing/ArrayFire.jl/releases/tag/v0.1.0)

[2017-09-13 10:02] #75 closed

[2017-09-13 10:02] gaika commented on #73
merged with [v0.1.0](https://github.com/JuliaComputing/ArrayFire.jl/releases/tag/v0.1.0)

[2017-09-13 10:02] #73 closed

[2017-09-13 10:02] gaika commented on #71
merged with [v0.1.0](https://github.com/JuliaComputing/ArrayFire.jl/releases/tag/v0.1.0)

[2017-09-13 10:02] #71 closed

[2017-09-13 10:03] gaika commented on #80
merged with [v0.1.0](https://github.com/JuliaComputing/ArrayFire.jl/releases/tag/v0.1.0)

[2017-09-13 10:03] #80 closed

[2017-09-13 10:03] gaika commented on #27
merged with [v0.1.0](https://github.com/JuliaComputing/ArrayFire.jl/releases/tag/v0.1.0)

[2017-09-13 10:03] #27 closed

[2017-09-13 10:04] #146 closed

[2017-09-13 10:04] #136 closed

[2017-09-13 10:08] ranjanan commented on #113
@gaika is this fixed with #121?

[2017-09-13 10:11] #1 closed

[2017-09-13 10:11] gaika commented on #113
yep, fixed

[2017-09-13 10:11] #113 closed

[2017-09-13 10:16] gaika opened #162 "AbstractArray methods not implemented in ArrayFire are slow"
See JuliaDiffEq/DifferentialEquations.jl#199 for example.

Would it better if it fails to run instead?

[2017-09-13 10:16] gaika opened #163 "cis and other functions in base/complex.jl are not implemented"

[2017-09-13 10:18] gaika opened #164 "names of the functions in README are out of sync with source"
a lot of auto-generated functions have different names now

[2017-09-13 10:20] ranjanan commented on #162
Let's have an option to set fast fail. Like `ArrayFire.fastfail(true)` would now give you an informative error message.

[2017-09-13 12:41] arsenal9971 commented on #146
Thanks!!

[2017-09-13 13:30] ranjanan opened #165 "Move to JuliaGPU org?"
Seems like a more appropriate place for this package.

[2017-09-14 03:39] gaika commented on #124
not sure if they work, but at least you can try using them now with v0.1 release.

[2017-09-14 03:39] #124 closed

[2017-09-17 06:25] 4lrdyD commented on #155
sorry, I do not know if I should ask here, but should I install the latest version of ArrayFire to work? I still have errors with Pkg.test

[2017-09-19 00:42] gaika commented on #155
@4lrdyD What errors do you see? What is your backend?

[2017-09-19 03:51] 4lrdyD commented on #155
Error during the test:

**julia> Pkg.test("ArrayFire")**
INFO: Testing ArrayFire
ArrayFire v3.4.2 (OpenCL, 64-bit Windows, build 2da9967)
[0] NVIDIA  : GeForce GT 630M, 2048 MB
-1- INTEL   : Intel(R) HD Graphics 4000, 1400 MB
-2- INTEL   : Intel(R) Core(TM) i7-3630QM CPU @ 2.40GHz, 6037 MB
Main: Error During Test
  Got an exception of type LoadError outside of a @test
  LoadError: ArgumentError: M

[2017-09-19 04:18] gaika commented on #155
Thanks for catching it, I've added AutoDiffSource as a dependency for tests in 44a6a8d7d15a4b3e0928e619797ff42a96ad65be

[2017-09-27 20:26] jgbos opened #166 "Segmentation Fault"
I'm having a segmentation fault that I'm having a hard time producing a minimal example for.  I have zero issues with my code when I do not load ArrayFire, but once loaded I will have seg faults for doing operations like `permutedims` and `getindex`.  Below I can get my code consistently fail running using the `Interpolations` package, but my code is doing a too much to explain here.  It seems lik

[2017-09-27 22:00] gaika commented on #166
What it is the function that is calling `collect`? Indexing is pretty inefficient with GPUs in general, but it this specific case it seems that there's some generic Julia function that is not implemented is being processed element by element as `AbstractArray`. To debug it you can remove two instances of "`<: AbstractArray{T,N}`" from ArrayFire/src/array.jl and see where things fail.

[2017-09-28 14:23] jgbos commented on #166
I'll take a look, but just realized I didn't make clear that the function that crashed wasn't using a GPU array.  I had already extracted the data from the GPU.  If I run the code without using GPU (not loading ArrayFire at all) I never get the segmentation fault.  This is what is baffling me and making it hard to find a minimal reproducible example.

[2017-09-28 23:14] 4lrdyD opened #167 "Is it possible to use ArrayFire in Juliabox?"
Sorry, maybe this is not a exactly an issue, is a simple question, is posible to use ArrayFire in Juliabox?, if it is posible how can i do?
-I downloaded the installer and i installed ArrayFire following the installation steps
-I included the PATH of the installed folder through push! (LOAD_PATH, "Path")
-I istalled the package via Pkg.add("ArrayFire")
-finally when i tried use Pkg.test i received

[2017-09-28 23:55] gaika commented on #167
make sure `libaf.so` is in your system path or in `LD_LIBRARY_PATH` environment variable

[2017-09-29 16:30] hayatoikoma commented on #166
I also have the same issue when I use `Interpolations.jl` with ArrayFire and have not been able to make a minimal example for it. Since I have not thought that it was an issue of ArrayFire, I have never tried it without loading ArrayFire.

Might it be better to report this bug to `Interpolations.jl` as the array is not `AFArray`? It would be really helpful for me as well if this issue can be resol

[2017-10-01 05:47] 4lrdyD commented on #167
@gaika how can I do it?, where is libaf.so?, how can I access LD_LIBRARY_PATH?, Sorry, I don't know about these two things. sorry, I tried to find it in the REPL and in the ArrayFire and Julia folders but I did not find these names

[2017-10-09 03:52] 4lrdyD opened #168 "some functions doesn't work in IJulia notebook"
I have an array stored in the GPU in dense form, that is something like `n×m ArrayFire.AFArray{Float64,2}`
I tried to use the `sparse` function on this, when I use Julia in command line it work, but when i tried to use this funtion in Ijulia notebook, i get this error:

**sparse(G)**
ArrayFire Error (202) : Invalid input argument
In function const class ArrayInfo &__cdecl getInfo(void *const ,bool

[2017-10-11 10:43] alha02 opened #169 "range error"
I used to be able to do
[code]
Now I get:
[code]
Comparing with e.g. `ones`:
[code]

Should I be calling `range` another way?

[2017-10-11 15:42] bmharsha commented on #167
No, it’s not possible right now. We at Julia Computing are working towards making GPU instances available on JuliaBox. We will make an announcement when that happens.

[2017-10-11 16:26] gaika commented on #169
`range(1, [4], 0, Float32)+1` will give you `range(1, 4)` right now. I'll fix it match Julia interface later or you can look at the code and submit a PR yourself.

[2017-10-11 17:48] alha02 commented on #169
Sure thing, I'll look into making a PR. Thanks for the quick reply!

[2017-10-11 17:54] gaika commented on #169
If you can implement `range` you might as well add `linspace` too.

[2017-10-13 20:16] stevengj opened #171 "don't overload display"
ArrayFire is overloading `display` in order to customize output ([here](https://github.com/JuliaComputing/ArrayFire.jl/blob/e373b17ce122ad34a8b236051b0a0d50dc12ab3f/src/util.jl#L38)).  This is the wrong way to do it — see the manual on [custom pretty printing](https://docs.julialang.org/en/release-0.6/manual/types/#Custom-pretty-printing-1).

In particular, you should be overriding `show(io::IO, a

[2017-10-13 20:17] stevengj commented on #171
This could be related to https://github.com/JuliaLang/IJulia.jl/issues/591, since overriding `display` will mess up IJulia.

[2017-10-13 20:33] #171 closed

[2017-10-13 20:34] gaika commented on #168
Does https://github.com/JuliaComputing/ArrayFire.jl/commit/6c46cd3a5f5ac1c7956923d6c0cf41a278da87c1 fix it?

[2017-10-14 03:03] 4lrdyD commented on #168
@gaika great! the problem was fixed! thanks

[2017-10-14 03:07] #168 closed

[2017-10-14 03:13] 4lrdyD commented on #167
@bmharsha thanks for the information

[2017-10-14 03:14] #167 closed

[2017-10-18 17:56] ChrisRackauckas commented on #162
GPUArrays has `GPUArrays.allowslow(false)`. Something similar would be nice. If you could get that going I'll continue on JuliaDiffEq/DifferentialEquations.jl#199 since I am (finally) done travelling and have AF all setup.

[2017-10-18 19:06] gaika commented on #162
Added allowslow:
[code]

[2017-10-19 22:56] ChrisRackauckas opened #172 "Build issues: `af` not found"
I installed it all yesterday, it worked, and I restarted my computer. Now it doesn't. AF is still installed and still in the path.

[code]

[2017-10-19 23:16] gaika commented on #172
Check that nvvm dlls, af.dll are in `ENV["PATH"]`.

Do the examples from array fire work?

https://arrayfire.com/setting-up-an-arrayfire-project-on-windows/

Reinstall if everything else fails?

[2017-10-19 23:24] ChrisRackauckas commented on #172
It was a path issue. The path was only set for the user but I guess it needed to be for all.

[2017-10-19 23:24] #172 closed

[2017-10-19 23:50] ChrisRackauckas opened #173 "`zero` uses the slow path"
[code]

errors.

[2017-10-19 23:55] ChrisRackauckas opened #174 "factorizations undefined"
[code]

It would be nice to have the factorizations work. Additionally:

[code]

uses the slow path via `getindex`, so it would be nice if that was handled.

[2017-10-20 02:51] #173 closed

[2017-11-08 18:47] #169 closed

[2017-11-09 15:30] hayatoikoma opened #178 "Parallel for-loop"
I have a for-loop that I want to execute in parallel with ArrayFire, but I am wondering what is the best way to achieve this. For example, I have a reduction:
[code]
I guess it is executed sequentially but would like to make it parallel. I think this problem boils down to how to handle `gfor` in ArrayFire in Julia. I read the discussion in #104 but am wondering what is the current state after the

[2017-11-09 15:41] gaika commented on #178
Try `sum(f.(x), 1)` - reductions work reasonably fast, especially if you don't reduce to `AFArray` and not a scalar. There is no general purpose `reduce` unfortunately.

[2017-11-14 17:05] hayatoikoma commented on #178
I see. If I write it in that way, does it compute in parallel?

What about the case where I don't `reduce`?
For example,
[code]

Is it better to write something like
[code]
?

[2017-11-14 17:24] pavanky commented on #178
@hayatoikoma You should be able to do `B = f(x)`.

[2017-11-14 17:28] gaika commented on #178
ArrayFire can compute most of the functions in parallel if the inputs are of the same size and you stack them along an extra dimension. So Vector{AFAray{Float32,2}} should be AFArray{Float32,3} then f(x) would do the trick.

[2017-11-14 17:42] hayatoikoma commented on #178
@pavanky I am not sure what you mean. Doesn't it depend on what `f` returns?

@gaika
Do you mean
[code]
? Does `x` need to be `AFArray`?

[2017-11-14 18:12] gaika commented on #178
just drop `for` loop and covert x to AFArray, then make sure all operations inside `f` are aware of x being AFArray and not a scalar. Then you can just make `B = f(x)`. Would probably require some tweaking in `f`

[2017-11-15 18:04] hayatoikoma commented on #178
I see. So, the key is to make everything from `Array` to `AFArray` before a for-loop.
Thank you!

[2017-11-15 18:04] #178 closed

[2017-11-29 18:21] EthanAnderes opened #180 "`isfinite` and `ifelse` for ArrayFire"
Is it possible to get `isfinite` and `ifelse` working for ArrayFire arrays? In particular, I would like to get the following code to work.

[code]

[2017-11-29 20:45] gaika commented on #180
it should be an easy fix: you can use `isinf` and `select` as a workaround. If you have time, maybe you can do it in a PR?

[2017-11-29 20:59] EthanAnderes commented on #180
I can give a PR a shot, but I might need a pointer or two since I'm completely unfamiliar with the internals of ArrayFire.jl or ArrayFire in general.

Yeah, `isinf` could work but would need to be combined with `isnan` since `!isinf(NaN) == true` but what I want is `isfinite(NaN) == false`. Also, not quite sure how to use `select` in place of `ifelse` ... perhaps to replace `NaN` with `Inf`, then

[2017-11-29 21:16] #180 closed

[2017-11-29 21:22] gaika opened #181 "bit mask assignment is broken"
[code]

mentioned in #180

[2017-12-04 15:40] ihnorton commented on #147
Probably https://github.com/JuliaLang/julia/issues/19606

[2017-12-04 22:16] ngphuoc opened #182 "segfault running examples of simple usage in the README"
I just copied and pasted the example into julia and got the following segfault. Also the first use of AFArray (`a = rand(AFArray{Float64}, 100, 100)`) always takes 2 minutes to run.

[code]

[2017-12-04 22:27] #182 closed

[2017-12-04 22:28] gaika commented on #182
2 minutes is too much, can you track what's causing the delay?

[2017-12-05 04:56] ngphuoc commented on #182
How can I track it? Restarting my computer still has the same problem. A simpler example gives the same 2 minutes: `AFArray([1.0])`

[2017-12-05 05:27] gaika commented on #182
You can use `@profile` and `ProfileView.jl`

[2017-12-05 05:40] ngphuoc commented on #182
Thanks. I've updated arrayfire and cuda and the problem has gone!
[code]

[2017-12-05 10:22] ngphuoc opened #183 "Benchmarking"
I am not sure if I should ask here but I'd like to ask if my benchmarking is correct. I am trying to check the speed of AFArray and compare with the KnetArray in Knet.jl. Since AFArray is asynchronous, I am not sure if BenchmarkTools.jl's `@btime` can do it. Please comment:

[code]

[2017-12-05 16:21] gaika commented on #183
`@btime` is fine, just add `@afgc` to `predict` and `loss`, and make it `@btime sync(predict(w,x))`. For small array sizes `KnetArray` and `CuArray` should be faster, try increasing batch size and see if it changes. Also try `.=` or `swap!` in predict.

[2017-12-05 22:49] ngphuoc commented on #183
I reran the script, restarted julia each run and varied the batchsize. I got the result below:

[code]

In general, for batchsize 100-1000 Knet is about twice as fast but for batchsize 5000 both perform similarly. I normally use small batchsize and my model has many layers. Is ArrayFire optimized for large matrices but not many small ones with basic matrix operations?

[2017-12-06 01:17] gaika commented on #183
In my experience ArrayFire works best with large matrices and complicated kernels, only then JIT / async pays off big time.

[2017-12-06 02:11] ngphuoc commented on #183
Thanks a lot. Just a side question, is there a pooling function (max/average pooling)? This is needed in convolutional neural network.

[2017-12-06 02:11] #183 closed

[2017-12-06 03:33] ngphuoc opened #184 "Feature request: gfor"
It would be nice to have gfor in julia.
References:
http://arrayfire.org/docs/page_gfor.htm
https://groups.google.com/forum/#!topic/arrayfire-users/t-vmSq-wtm8

[2017-12-06 03:47] gaika commented on #184
`gfor` is implemented via broadcast, should work out of the box. Just use `.= `, `.+`, `.()`, etc. and it should work, if it doesn't, file a bug.

[2017-12-06 03:47] #184 closed

[2017-12-06 03:49] gaika commented on #183
convolution is there, pooling is coming in https://github.com/arrayfire/arrayfire-ml/issues/17

[2017-12-06 05:27] ngphuoc opened #185 "MethodError: no method matching create_seq(::Base.Slice{Base.OneTo{Int64}})"
I am trying to replicate gfor in julia for slices of array:
[code]
my first attempt failed with the mentioned error:
[code]
What is the correct way to broadcast to slices of AFArray?

[2017-12-06 06:03] ngphuoc commented on #185
my second attempt is:
[code]
and it gives the error
[code]

[2017-12-06 06:30] gaika commented on #185
In this case .( is redundant - just do `fft2(a)`  . The result will be a 2d fft over dimensions 1 and 2 for all 100 slices.

There's no need to create arrays of arrays, just keep the slices over extra dimensions and arrayfire will do the batch processing automatically (most of the time).

[2017-12-06 06:41] ngphuoc commented on #185
Thanks, I got it. Could we define julia functions that apply to 2d slices of 3d array like fft2 (batched mode)? The last dimension is the batch dimension. Some examples would be batched matmult, batched dot, batched sort.

[2017-12-06 06:41] #185 closed

[2017-12-06 06:55] gaika commented on #185
Everything that works with `gfor` should work just fine. `ArrayFire.jl` is just a wrapper, at worst type information about the array can be off.

[2017-12-06 10:23] ngphuoc commented on #184
I am just curious. Could we have explicit gfor in julia? I see arrayfire allows user function but it's in C++. Is it possible to compile user functions in julia to C++ and feed to gfor?

[2017-12-06 10:58] ngphuoc opened #186 "reorder is using zero-based indexing"
[code]
Should it use julia 1-based indexing?

[2017-12-06 16:31] gaika commented on #184
gfor is not a function:
[code]

[2017-12-06 23:52] ngphuoc opened #187 "Feature request: slice/slices"
Could we have this feature in julia: http://arrayfire.org/docs/group__array__mem__slice.htm? And does it allow mapslices into AFArray?

[2017-12-07 00:17] ngphuoc commented on #187
Thanks. In that case, could you support `create_seq(::Base.Slice{Base.OneTo{Int64}})`? Then mapslices should work!

[2017-12-07 00:22] gaika commented on #187
I don't think that's enough to support mapslices :(

[2017-12-07 00:29] ngphuoc commented on #187
Thanks, I've added mapslices to the title. Is it likely to be supported in the near future? It seems useful.

[2017-12-07 02:35] ngphuoc opened #188 "Error using linear indexing"
[code]

[2017-12-07 02:38] ngphuoc commented on #188
This one works
[code]

[2017-12-07 02:45] gaika commented on #188
In general mixing `Array` with `AFArray` in the same expression is not supported.

[2017-12-07 02:45] ngphuoc commented on #188
Error indexing by array:
[code]

[2017-12-07 02:46] gaika commented on #188
duplicate: indexing is broken - https://github.com/JuliaComputing/ArrayFire.jl/issues/181

[2017-12-07 02:54] ngphuoc commented on #188
But the following gives error
[code]

[2017-12-07 02:58] ngphuoc commented on #188
It's strange, assignment works but print doesn't:
[code]

[2017-12-07 03:06] ngphuoc commented on #188
No, it works for 1D array in #181 but not 2D:
[code]

[2017-12-07 03:37] ngphuoc commented on #188
Some more tests:
[code]

[2017-12-07 05:20] ngphuoc opened #189 "Add `pointer` support"
Dear Gaika,
I am trying to use AFArray for the Knet framework. To do this I need the pointer to AFArray as mentioned in this issue https://github.com/denizyuret/Knet.jl/issues/213. I wonder if you could add support for this feature?

Many thanks!
Phuoc

[2017-12-07 06:10] gaika commented on #189
`get_device_ptr` is probably what you need to alias to `pointer`, conversely if you want to create `AFArray` from a device pointer use `device_array`. Can you check if that would work?

[2017-12-07 06:12] gaika commented on #189
Ah, and you'd have to `lock_device_ptr` before and `unlock_device_ptr` after you are done. Not sure how that works.

[2017-12-07 07:41] hayatoikoma opened #190 "Support of conversion from SubArray to AFArray"
I guess the conversion is intentionally restricted between `Array` and `AFArray`, and the conversion from `SubArray` of `Array` to `AFArray` is currently not supported. As far as I checked, `convert_array` works on it. Is there a safe way to add its conversion?

[2017-12-07 07:58] gaika commented on #190
I do not see a more efficient way than to convert it to `Array` first

[2017-12-07 18:11] hayatoikoma commented on #190
I see. Then, would it be better to add something like `(::Type{ArrayFire.AFArray}){T,N,I,L}(a::SubArray{T,N,Array{T,N},I,L}) = ArrayFire.convert_array(Array(a))`? Or is it better to leave it as it is?

[2017-12-07 20:26] #190 closed

[2017-12-07 21:04] #181 closed

[2017-12-07 22:55] hayatoikoma commented on #190
Thank you for adding the feature!
I wasn't sure if it was okay to assume that `SubArray` of any parent is expected to have `Array` method.

[2017-12-07 22:58] gaika commented on #190
It is not, but in most practical cases it works.

[2018-01-05 17:48] constantza commented on #184
Hello,
I'm doing GPU Computing. I have seen in the past similar attitude against the GFOR.
Just for answering to ngphuoc. I'm not Julia developer, nor ArrayFire developer.
I use GFOR constructor in another environment similar to ArrayFire, but in Matlab.
I'm thinking to migrate in JULIA, but unfortunately, no GFOR here.

This question asked by ngphuoc was reiterated in the past. And systematically

[2018-01-05 21:11] SimonDanisch commented on #184
You might want to have a look at [GPUArrays](https://github.com/JuliaGPU/GPUArrays.jl) which actually allows you to compile quite arbitrary Julia Code for the GPU.

I wrote up a relatively simple [introduction](https://medium.com/@sdanisch/writing-extendable-and-hardware-agnostic-gpu-libraries-b21c145a8dad).
Concrete array packages are [CLArrays](https://github.com/JuliaGPU/CLArrays.jl) and [CuArr

[2018-01-05 22:12] pavanky commented on #184
As someone who had a significant hand in developing the current version of arrayfire (and a developer of Jacket for MATLAB before this) for many years, I have to say adding GFOR is never needed.

It was a good hand holding tool for *beginners* who were using for loops in maltab when they really shouldn't have (i.e. using loops instead of broadcasting or vectorizing). GFOR took cases like this and

[2018-01-06 08:59] gaika commented on #188
fixed in https://github.com/JuliaComputing/ArrayFire.jl/commit/92de2d9d763db4d086f134131285b681637a367d

[2018-01-06 08:59] #188 closed

[2018-01-06 09:02] gaika commented on #143
[code]

[2018-01-06 09:02] #143 closed

[2018-01-06 09:04] gaika commented on #72
[code]

[2018-01-06 09:08] gaika commented on #72
Oops, `dot` is using `AbstactArray`, need extra options

[2018-02-12 16:56] iwelch opened #193 "trivial install suggestion"
would it make sense, upon Pkg.add(), to check and warn the user if there are no underlying libraries (liba) installed, and tell him to visit your webpage for more instructions?

I know how to do this.  I just think it would be nicer.

[2018-02-12 17:10] gaika commented on #193
Even better if Pkg.build() can install it for you. PR?

[2018-02-12 17:12] iwelch commented on #193
that would be real work...too many moving parts for you to worry about this, too.  but the warning message is cheap.

[2018-02-22 03:32] ngphuoc opened #194 "std(x::AFArray,1) return Array"
[code]

[2018-02-22 22:24] #194 closed

[2018-03-01 22:42] hayatoikoma commented on #188
Is it really fixed? I just tried it on the master.
It worked on 1d array but didn't work for 2d array.

[code]

[2018-03-02 00:08] gaika commented on #188
Make sure you got the latest master from https://github.com/JuliaComputing/ArrayFire.jl , should work just fine even without `find`

[code]

[2018-03-02 00:16] hayatoikoma commented on #188
Oh, sorry. I was accidentally using your fork on the machine I used today.
It worked fine. Thank you for checking it.

[2018-03-07 08:23] dsweber2 commented on #166
I'll say that I've had this issue in the past as well, and that the folks over at interpolations aren't really sure what to do about it either. My discussion of the issue is https://github.com/JuliaMath/Interpolations.jl/issues/187 . It didn't go away post 0.6.2, unfortunately.

I just now had a similar issue when not using `Interpolations` but some code I've written instead. I was able to make th

[2018-03-09 21:22] aw2018 opened #197 "Failed to load dynamic library"
I got the following error after installed the binary ArrayFire-v3.5.1_Linux_x86_64.sh and exported export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/user1/software/arrayfire/lib. What was missed.wrong?

julia> using ArrayFire
ERROR: InitError: ArrayFire Error (501) : Failed to load dynamic library.
Error in af_err unified::AFSymbolManager::call(const char*, CalleeArgs ...) [with CalleeArgs = {}]
In fi

[2018-03-09 21:52] gaika commented on #197
Do the examples from ArrayFire work? Do you see `libaf*` when you do `ldd examples/benchmarks/blas_cuda`?

[2018-03-09 22:32] aw2018 commented on #197
@gaika
ldd: examples/benchmarks/blas_cuda: No such file or directory
only three files in benchmarks/  blas.cpp  cg.cpp  fft.cpp  pi.cpp

[2018-03-09 22:39] gaika commented on #197
Find where `libaf*.so` lives, make sure it is the directory that you add to LD_LIBRARY_PATH, then make sure it has all dependencies installed with `ldd libaf*.so`. Try to compile and run examples from ArrayFire.

[2018-03-09 22:44] aw2018 commented on #197
@gaika
libaf*.so in lib/ and it was exported in LD_LIBRARY_PATH.
Not sure what deps are? I used binary file instead of building from source

[2018-03-09 22:50] gaika commented on #197
You should see something like this:

`ldd /usr/lib/libafcuda.so
	linux-vdso.so.1 =>  (0x00007ffd8df42000)
	libpthread.so.0 => /lib64/libpthread.so.0 (0x00007f7428aba000)
	libdl.so.2 => /lib64/libdl.so.2 (0x00007f74288b6000)
	librt.so.1 => /lib64/librt.so.1 (0x00007f74286ad000)
	libnvrtc.so.9.1 => /usr/local/cuda-9.1/targets/x86_64-linux/lib/libnvrtc.so.9.1 (0x00007f7426f81000)
	libcublas.so.9.1 =>

[2018-03-09 23:11] aw2018 commented on #197
@gaika
I typed ldd libafcuda.so and got the following, the only one "libglfw.so.3 => not found". Where should it locate?

	linux-vdso.so.1 =>  (0x00007fff1cbff000)
	libcudart.so.8.0 => /public/apps/cuda/8.0/lib64/libcudart.so.8.0 (0x00007f77ab91e000)
	libcublas.so.8.0 => /public/apps/cuda/8.0/lib64/libcublas.so.8.0 (0x00007f77a8e85000)
	libcufft.so.8.0 => /public/apps/cuda/8.0/lib64/libcufft.so.8.

[2018-03-09 23:40] aw2018 commented on #197
@gaika
I typed ldd libafcuda.so and got the following, the only one "libglfw.so.3 => not found". Where should it locate? thanks.

	linux-vdso.so.1 =>  (0x00007fff1cbff000)
	libcudart.so.8.0 => /public/apps/cuda/8.0/lib64/libcudart.so.8.0 (0x00007f77ab91e000)
	libcublas.so.8.0 => /public/apps/cuda/8.0/lib64/libcublas.so.8.0 (0x00007f77a8e85000)
	libcufft.so.8.0 => /public/apps/cuda/8.0/lib64/libcuf

[2018-03-10 00:38] gaika commented on #197
you can build it from source without graphics, or install `glfw3` on your system.

[2018-03-10 00:38] #197 closed

[2018-03-27 01:46] hayatoikoma opened #199 "Support of A_mul_B!"
I am currently trying to perform eigendecomposition on a `AFArray`.

To use Julia's `eigs`,  some of basic functions (`size`, `issymmetric`, `eltype`,  `A_mul_B!`) have to be duck typed for custom-typed array. While it wouldn't make sense for `AFArray` to support `issymmetric`, it would be great to support `A_mul_B!` as ArrayFire supports it.

~~I have tried to wrap `af_matmul` to implement `A_mul

[2018-03-27 05:01] gaika commented on #199
ArrayFire is using JIT so it might be or might be not allocating memory for the operation. In this specific case A*B is allocating memory, so .= is not helping much

[2018-03-27 17:16] #199 closed

[2018-04-03 10:40] avik-pal opened #200 "Indexing and Slicing too expensive for AFArrays"
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
As it is clearly evident the time for indexing an AFArray is significantly higher compared to that of a normal Array.
**Note** : The backend used is **CPU Backend**

[2018-04-03 16:24] gaika commented on #200
If you use indexing and slicing a lot it might be faster to convert whole `AFArray` to `Array` first. It is even worse on a GPU backend.

[2018-04-04 02:13] gaika commented on #187
[code]
Would do 9 matrix multiplies of 3x3 slices

[2018-04-04 02:16] ngphuoc commented on #187
Many thanks!

[2018-04-04 02:17] gaika commented on #187
You might need the latest version of `ArrayFire` for this to work, was only added recently https://github.com/arrayfire/arrayfire/pull/1898

[2018-04-04 18:32] #200 closed

[2018-04-04 20:03] avik-pal opened #201 "Segmentation Fault"
[code]

Suddenly ran into this error. Any fix for this. I have already reinstalled the entire package once

[2018-04-04 20:09] gaika commented on #201
`clGetPlatformIDs at /usr/lib/x86_64-linux-gnu/libOpenCL.so.1 (unknown line)`

Something wrong with you OpenCL install.

[2018-04-04 20:44] avik-pal commented on #201
Is there any way to specify that ArrayFire starts with the CPU or CUDA Backend?

[2018-04-04 20:57] #201 closed

[2018-04-05 09:21] arsenal9971 opened #202 "Not finding git@github.com:JuliaComputing/ArrayFire.jl.git"
When trying to generate a random ArrayFire array with the command `AFArray(zeros(Float32,10,10))` I get the following error

In this case I am using Julia 0.6.0. This does not happen with Julia 0.5.x

[2018-04-05 15:52] aw2018 opened #203 "Test Failed"
I got 1 error in the testing ArrayFire as detailed below, and did not know why. Any ideas for that?
In addition, how to use extra functions like functions importing from python scipy.stats in ArrayFire? Thanks

Pkg.test("ArrayFire")
INFO: Testing ArrayFire
ArrayFire v3.5.1 (CUDA, 64-bit Linux, build 0a675e8)
Platform: CUDA Toolkit 8, Driver: 375.39
[0] Tesla K40m, 11440 MB, CUDA Compute 3.5
-1- Te

[2018-04-05 16:34] gaika commented on #203
seems to be a rounding error or https://github.com/arrayfire/arrayfire/issues/2093

[2018-04-05 16:36] gaika commented on #202
update your arrayfire version, is_sparse is relatively new

[2018-04-05 17:05] aw2018 commented on #203
@gaika
Thanks for your response. How to fix it? It passed the testing in another user account, but failed the testing in my account in the same cluster. It is also working for most of functions, but killed and exited julia when call this function svd(a).

[2018-04-05 19:50] aw2018 commented on #203
@gaika
It is working now after correcting its path. My next question is how to use the extra function like corspearman from StatsBase. corspearman works very well in CPU, but failed in ArrayFire under GPU. Example below,
a = rand(10, 10)
ad = AFArray(a)

corspearman(a[1,:],a[2,:])  ##working under CPU
0.05454545454545454

corspearman(ad[1,:],ad[2,:]) ##FAILED IN ARRAYFIRE
ERROR: MethodError: no me

[2018-04-15 06:07] stillyslalom commented on #193
The [Homebrew/science](https://github.com/Homebrew/homebrew-science) repo was deprecated. Try `brew install brewsci/science/arrayfire`.

[2018-04-15 22:43] gaika commented on #193
v3.3.2 is too old, can you add PR with proper installation instructions for the most recent version of ArrayFire?

[2018-04-16 01:02] #193 closed

[2018-04-16 01:04] #202 closed

[2018-04-16 01:15] gaika commented on #203
`mapslices` is not supported, duplicate of https://github.com/JuliaComputing/ArrayFire.jl/issues/187

[2018-04-16 01:15] #203 closed

[2018-05-04 12:45] giob1994 opened #205 "Installation error on macOS with Julia 0.6.2"
Hi,

I am using Julia v0.6.2 and I just installed ArrayFire v3.6.0. My macOS is High Sierra 10.13.4.

When I try `using ArrayFire`, precompilation of the package fails with the following error:

[code]

I checked the ArrayFire directory at `/opt/arrayfire/lib` and everything seems fine, so I am not sure what to do...

[2018-05-04 16:11] gaika commented on #205
Is `/opt/arrayfire/lib` in `LD_LIBRARY_PATH` or `DYLD_LIBRARY_PATH`? Is `libaf.dylib` in `/opt/arrayfire/lib` ?

[2018-05-04 16:14] gaika commented on #205
Do `ArrayFire` examples work?

[2018-05-04 16:16] giob1994 commented on #205
This is my /opt/arrayfire/lib folder:
[code]

and I am not sure how to check if `/opt/arrayfire/lib` is in `LD_LIBRARY_PATH` or `DYLD_LIBRARY_PATH` as I haven't seen it mentioned in the installation instructions.

[2018-05-04 16:38] gaika commented on #205
`echo $LD_LIBRARY_PATH $DYLD_LIBRARY_PATH | grep -i arrayfire`
`otool -L af`

[2018-05-04 17:29] gaika commented on #205
Can you try
`julia> push!(Libdl.DL_LOAD_PATH, "/opt/arrayfire/lib"); Pkg.build("ArrayFire")` ?

[2018-05-04 19:38] giob1994 commented on #205
This runs fine:

but executing `using ArrayFire` now gives me another error:

[code]

[2018-05-04 19:51] gaika commented on #205
Add `DYLD_LIBRARY_PATH=/opt/arrayfire/lib` to your `.bashrc` and make sure julia sees it `julia> ENV["DYLD_LIBRARY_PATH"]`, actually try setting it in julia with `ENV["DYLD_LIBRARY_PATH"] = "/opt/arrayfire/lib"` and see if it works.

If this fails that means that some other dependencies are missing, `otool` is your friend to figure out which ones:

`$ export DYLD_LIBRARY_PATH=/opt/arrayfire/lib ;

[2018-05-12 19:39] avik-pal opened #206 "Error on loading ArrayFire"
[code]
[code]
Checked on latest tagged version and also on the master branch.

[2018-05-12 20:32] gaika commented on #206
there's something wrong with your `ArrayFire` install, are the examples working?

[2018-05-12 21:00] avik-pal commented on #206
When I again do an `using ArrayFire` followed by `set_backend(AF_BACKEND_CPU)` everything works fine.

[2018-05-12 21:02] gaika commented on #206
make sure `ArrayFire` works first, could be some cuda or opencl related issue, or some missing dependency.

[2018-05-16 15:57] rveltz commented on #205
I have the same issue. Did you find a solution?

[2018-05-16 16:05] giob1994 commented on #205
Not really...

Also tried with adding `DYLD_LIBRARY_PATH=/opt/arrayfire/lib` in my `.bash_profile` file in my users folder: nothing changes.

If I then run `ENV["DYLD_LIBRARY_PATH"]`, Julia tells me:
[code]

And even doing `ENV["DYLD_LIBRARY_PATH"] = "/opt/arrayfire/lib"` and then `using ArrayFire`, still gives me the error:
[code]

I am not sure what else to do.

[2018-05-16 16:18] rveltz commented on #205
Do you have a new mac with SIP?

[2018-05-16 16:56] giob1994 commented on #205
I guess this is the case since my MacBook Pro is the 13-inch 2016 (with Touch Bar).

[2018-05-19 20:34] economyboy commented on #172
Hey, I think I'm facing the same problem:

[code]
As far as I can see I did everything in the recommended way (Windows):

- installing the runtime libraries

- installing ArrayFire on my system with adding it to PATH for all users

- installing the Julia ArrayFire package

I already tried to make it work by making the ArrayFire file accesable to all users, but it didn't work.
How did you solve it?

[2018-05-22 10:31] rveltz commented on #205
I compiled it from sources and it worked

[2018-05-31 17:02] economyboy opened #207 "Can't use ArrayFire"
Hey, I'm facing this problem when `using ArrayFire` in Julia:

[code]
As far as I can see I did everything in the recommended way (Windows):

- installing the runtime libraries

- installing ArrayFire on my system with adding it to PATH for all users

- installing the Julia ArrayFire package

I already tried to make it work by making the ArrayFire file accesable to all users, but it didn't work.
I

[2018-06-01 21:47] economyboy commented on #207
Rebooting did the job...

[2018-06-01 21:47] #207 closed

[2018-06-11 09:42] avik-pal commented on #206
Was `opencl gpu` issue. Thanks

[2018-06-11 09:42] #206 closed

[2018-06-21 15:06] LeMinaw opened #209 "ArrayFire replace() support"
As far as I know, ArrayFire's `replace()` function is not provided by ArrayFire.jl.

[http://arrayfire.org/docs/group__data__func__replace.htm](url)

Adding it would be quite convenant for doing conditional tests.

Is there any other way to mimic this behaviour?

Somethink like broadcasting a ternary operator should do the trick, but I can't get it to work for now.

[2018-06-21 15:12] gaika commented on #209
Take a look at wrap.jl:

[code]

[2018-06-21 23:47] LeMinaw commented on #209
Sorry, I should have looked a little better.
I'll add it to the docs then.

[2018-06-21 23:47] #209 closed

[2018-06-21 23:57] gaika commented on #209
If you are going to change the docs, please update all other functions too. Or at least mention that all arrayfire functions are supported.

[2018-07-11 00:17] attobot opened #210 "Error tagging new release"
The tag name "0.7.0" is not of the appropriate SemVer form (vX.Y.Z).
cc: @gaika

[2018-07-11 00:20] #210 closed

[2018-07-23 06:02] rveltz opened #211 "norm does not respect type"
Hi,

I have the following issue

[code]

which returns `Float64`. Can it be easily solved?

Thank you,

Best regards

[2018-07-23 06:30] gaika commented on #211
In the latest version for v0.7 it is fixed:
[code]
You can make the same fix for the version that you have:
https://github.com/JuliaComputing/ArrayFire.jl/blob/master/src/util.jl#L330
[code]

[2018-07-23 06:30] #211 closed

[2018-07-23 07:02] rveltz commented on #211
Thank you!

[2018-07-23 07:05] rveltz opened #212 "dot falls back to"
Hi,

I have another difficulty. It seems `dot` falls back to LinearAlgebra/src/generic.jl in both 0.7 and 0.6.4

Can it be fixed by?

`import Base.LinAlg: dot, norm
dot(a::ArrayFire.AFArray,b::ArrayFire.AFArray) = ArrayFire.dot(a,b,UInt32(0),UInt32(0))[1]`

Also I had to extract the first element, it would be better for ArrayFire.dot to return a scalar.

Thank you

Best regards

[2018-07-23 19:50] rveltz commented on #212
This `dot` function is giving me the error:

[code]

[2018-07-26 12:57] algorithmx commented on #149
Can anyone help me? I do not have a clue on the test error ...
## Error msg
[code]
## versioninfo
[code]

[2018-07-26 15:38] gaika commented on #149
`Intel MKL FATAL ERROR: Cannot load libmkl_avx2.so or libmkl_def.so.` seem to be the cause, check where these files are, and make sure they are in the `LD_LIBRARY_PATH` that julia sees.

[2018-07-26 23:42] 4lrdyD opened #213 "ERROR: LoadError: ArgumentError: Module Libdl not found in current path."
Hi, I tried to use ArrayFire on Julia 0.6.3, but when trying to use it within
`using ArrayFire` i got the following error:

[code]
Itried to add the package Libdl with `Pkg.add("Libdl")` but i got:

[code]
i have ArrayFire 3.4.2, Julia 0.6.3, windows10

[2018-07-27 00:53] gaika commented on #213
You got a version for julia v0.7, roll back a few revisions till `REQUIRE` file has julia 0.6 in it or do a clean `Pkg.add("ArrayFire")`

[2018-07-27 05:35] 4lrdyD commented on #213
I tried to remove ArrayFire with `Pkg.rm("ArrayFire")` as a result i got:
[code]
According to this, I should not have updated the version of ArrayFire, now I can't remove it, what i can do?, thanks for aswering

[2018-07-27 06:09] gaika commented on #213
try `rm -rf ~/.julia/v0.6/ArrayFire/` in a shell, and then `Pkg.add("ArrayFire")` in julia. If this doesn't help, you'd have to resolve dependency hell yourself :(

[2018-07-29 06:15] 4lrdyD commented on #213
thanks, I had to remove the package with `rm("C://users//user//.julia//v0.6//ArrayFire",recursive=true) ` then I was able to use `Pkg.rm("ArrayFire")` and install it again

[2018-07-29 06:16] #213 closed

[2018-07-30 04:02] 4lrdyD commented on #149
Hi, I got the following error when I tried to test ArrayFire, the error is quite long and the screen can no longer show all the error, let's say that what comes out is the final part

`Pkg.test("ArrayFire")`

[code]
[code]
[code]
Any idea why this happens? thanks in advance

[2018-07-30 04:33] gaika commented on #149
Your arrayfire library is probably old, the latest release is 3.6.1, could be that the fft code is different on OpenCL too, have you tried to use it with CUDA?

[2018-07-30 17:33] 4lrdyD commented on #149
@gaika, I'm trying to install CUDA, but my GPU is no capable with the latest version of CUDA, I need CUDA8.0 but I still can't install it.
I think I should try to update the ArrayFire version, although the last time I tried to update it I had problems.
well, I'll try it again, thanks for answering

[2018-08-01 01:19] 4lrdyD commented on #149
I was able to install CUDA and then ArrayFire3.6.1, but when I try to test it I get:

[code]
It is similar to the above error, Now when I try to set backend in CUDA I get:
[code]
[code]
although with respect to CUDA I guess it should be a separate issue.

[2018-08-01 18:29] 4lrdyD opened #214 "set_backend(AF_BACKEND_CUDA): Failed to load dynamic library on Windows"
I got the lib folder in the system path, however:
[code]
[code]

[code]

[2018-08-01 22:55] 4lrdyD commented on #149
I really didn't do almost anything, but the test changed to:
[code]

[2018-08-08 12:50] NoelAraujo opened #215 "Some operations causes Intel MKL FATAL ERROR"
Some  operations causes ArrayFire to crash with the following message:

The mentioned files are indeed inside the installation folder on ArrayFire. However, this error happens with `det`, `inv` for example, but do not with `sin` or `>`.

I've run ArrayFire examples related with those operations in C++, and they work.
For reference. I'm using ubuntu 16.04, this error happens with Julia 0.6.4 and 0.

[2018-08-08 17:57] 4lrdyD opened #216 "incompatibility with IJulia package"
this only happens in Ijulia.

sparse function
[code]

AFArray function on vectors
[code]
However, with the semicolon `sparse (d);` `AFArray (d);`, it seems to work correctly, that is, the problem seems to be in the way they are shown...
[code]

[2018-08-08 18:16] gaika commented on #216
Can you try `Pkg.checkout("ArrayFire", "julia-v0.6")` and see if it is still broken?

[2018-08-08 20:54] 4lrdyD commented on #216
very good! @gaika, it seems that everything is fixed... thanks!

[2018-08-08 20:54] #216 closed

[2018-08-10 09:24] oschulz opened #217 "Broadcasting on Julia v0.7/v1.0"
Given the new broadcasting specialization features in Julia v0.7/v1.0, we could make ArrayFire opt-out of broadcast fusion and also automatically call `finalize` on intermediate results. I think this could enable full broadcast-syntax support for ArrayFire.

[2018-08-14 20:15] beOn commented on #205
Having the same issue. @rveltz - did you install into the default location? @giob1994, did you ever find a solution?

[2018-08-15 08:42] giob1994 commented on #205
@beOn I did not try again after @rveltz suggested compiling from source: I am not willing to spend my time compiling stuff just to use a library... Also, in Julia 0.6.4 I had to manually remove ArrayFire.jl as it would complain that it was not compatible with v0.6 anymore...

[2018-08-21 21:59] PallHaraldsson opened #218 "Add precompile back for version 0.7?"
Precompile is not needed in 1.0, as it's the default, right, but does it do any harm?

If I recall it was dropped in 1.0, not 0.7, so is it premature to drop, since 0.7 still supported?

https://github.com/JuliaComputing/ArrayFire.jl/commit/80d7805644f8e8bb7624d98cac19946b7638ae09

I see older ArrayFire mentioned here:
https://github.com/svaksha/Julia.jl/blob/master/Super-Computing.md

I guess it

[2018-08-22 00:03] gaika commented on #218
https://github.com/JuliaLang/julia/blob/master/HISTORY.md

```Module pre-compilation is now the default for code loading. Adding a __precompile__() declaration is no longer necessary, although __precompile__(false) can still be used to opt-out ([#26991]).```

[2018-08-22 00:03] #218 closed

[2018-08-31 13:43] NoelAraujo commented on #215
At Ubuntu 18.04, the same occurs with Julia 1.0, and now Atom  displays some Warnings that may help
[code]

[2018-09-05 07:37] VasylHafych commented on #205
Hello everyone,

I am experiencing the same issue as @giob1994 . As @gaika has suggested [here](https://github.com/JuliaComputing/ArrayFire.jl/issues/205#issuecomment-386649781), I have set up both` LD_LIBRARY_PATH `and `DYLD_LIBRARY_PATH` to the ArrayFier library path `"/opt/arrayfire/lib"` using `~/.bashrc`. I have also turned off System Integrity Protection on Mac, as it has been discussed [her

[2018-09-10 09:44] manipadmeom opened #219 "ArrayFire cannot be added on Julia 1.0"
] add ArrayFire

ERROR: Git repository not found at 'ArrayFire'

[2018-09-11 02:34] gaika commented on #219
What happens when you try to install any other package? Are you behind a firewall?

[2018-09-11 09:04] manipadmeom commented on #219
No, it seems I can download other packages without problems

add NNlib
  Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
 Resolving package versions...
  Updating `~/.julia/environments/v1.0/Project.toml`
  [872c559c] + NNlib v0.4.2
  Updating `~/.julia/environments/v1.0/Manifest.toml`
 [no changes]

[2018-09-11 18:08] NoelAraujo commented on #215
OK, I've got the solution.
This problem already is know on python+anaconda on [stackoverflow](https://stackoverflow.com/questions/36659453/intel-mkl-fatal-error-cannot-load-libmkl-avx2-so-or-libmkl-def-so).

In summary, we need to load some paths with `LD_PRELOAD`. In my computer,  `libmkl_avx2.so` and `libmkl_def.so` are in `/opt/arrayfire/lib/`.

Then I should use:
 `export LD_PRELOAD=/opt/array

[2018-09-11 18:08] #215 closed

[2018-09-12 20:37] manipadmeom commented on #219
Well probably that is the case. I have currently both Julia 0.64 and 1.0 on my machine so there could be some kind of conflict. I will try your advice and report back,

[2018-09-13 06:41] wenquan opened #220 "Running Error due to gcc version."
We installed ArrayFire 3.5.1 using gcc-4.8.5 on ubuntu 14.4 with cuda 8.0. Then we encouter the following error

[code]
Is there any way to resolve this issue? thanks a lot.

[2018-09-13 15:14] gaika commented on #220
You can disable graphics when you build arrayfire with `-DAF_WITH_GRAPHICS=OFF`
option to configure script, I think it should work then.

[2018-09-13 15:14] #220 closed

[2018-09-13 19:55] manipadmeom commented on #219
In the end I had to delete Julia and download it again. It seems there was a problem with the installation. But now is working just fine. Thanks!

[2018-09-17 16:34] #219 closed

[2018-10-05 10:07] rveltz opened #221 "Error: mismatch between an array and the current backend"
Hi,

I port the following code to Julia v1.0 but I get the following error. Note that it use to work just fine...

The work is critical for me at the moment, and any help is greatly appreciated!!

Thank you a lot,

Bests

[code]

The code is:

[code]

[2018-10-05 15:51] gaika commented on #221
`@afgc` frees `dX.e` when `rhs_same_sig!` returns. Get the latest version of `ArrayFire.jl` and remove all `@afgc` from your code, everything should work fine.

[2018-10-05 17:05] rveltz commented on #221
Hi

Thank you a lot for your help,

I followed your advice. The code is the following. I now face 3 issues. First, it is way slower than before. It seems to allocate a lot. Then if I uncomment `#+ g[1] * Stim(t,Tp)` in `rhs_same_sig!`, the code breaks for some obscure reason. Finally, plotting does not work anymore...

[code]

[2018-10-05 17:18] gaika commented on #221
It is slow as it is now using Julia garbage collection. Maybe use `@afgc` for assignments, or maybe I should add `@noafgc` macro so you can mark values that should not be freed.

As for plotting I didn't have time to test / fix it for 1.0, sorry.

[2018-10-05 19:09] rveltz commented on #221
The plotting seems to work with `Float32`!! Not sure why but fair enough!

I like the idea of the @noafgc. Do you think you can add it by tomorrow?

[2018-10-05 19:48] gaika commented on #221
Might be easier: if instead of `nothing` you return a tuple with the values you want to keep then these values will not be freed by `@afgc`

[code]

also in your `normalise_af!` `out` is not updated, `swap!(out, (a-mn)/(mx-mn))` should do the trick.

[2018-10-06 05:57] rveltz commented on #221
I tried the out of place solution but it is slower, almost 3 times

[2018-10-18 18:52] #221 closed

[2018-10-18 18:55] rveltz opened #222 "Sparse matrix solve"
Hi,

ArrayFire seems to be the only alternative for sparse matrices on the GPU for now. I would love to try it by I can't fix the following error.

Is it an easy fix for you?

Thank you a lot for your help,

Best

[code]

[2018-10-18 19:01] gaika commented on #222
That's due to https://github.com/arrayfire/arrayfire/issues/2234

[2018-10-18 19:07] rveltz commented on #222
Arg!

Thank you,

[2018-10-18 19:07] #222 closed

[2018-11-08 16:32] galenlynch opened #223 "Segfault when using ArrayFire.jl on Fedora"
I can't use ArrayFire, and it might have something to do with Wayland on Fedora 29?

[code]

[2018-11-08 16:33] gaika commented on #223
seems like it, try recompiling arrayfire without graphics

[2018-11-15 20:58] WKusnezow opened #224 "Incompatible methods signature"
Methods  `minimum`, `maximum`, `sum`, `any`, `all`, `sort`, `cumsum`
have a different signature as appropriate methods in Base.
For example
[code]
and
[code]

[2018-11-16 00:47] #224 closed

[2018-11-19 16:27] WKusnezow opened #225 "isempty fails for AFArray"
[code]

[2018-11-19 16:36] WKusnezow opened #226 "broadcasting of one returns wrong result for AFArray"
Standard behavior:
[code]
The same with AFArray:
[code]

[2018-11-19 16:40] #225 closed

[2018-11-19 16:46] #226 closed

[2018-11-26 08:35] wenquan opened #227 "Convert error"
When I am trying to run the following code in an function
[code]
It throws me the error

Any idea how to fix this problem? Note that S_B and ObjReconTmp have exactly the same size and the same type.

[2018-11-26 10:53] #227 closed

[2018-12-14 23:00] 4lrdyD commented on #214
I tried to use ArrayFire with Visual C++, and when I use the helloworld sample with _af.lib_ or _afopencl.lib_ I get expected results with the info of de device:
[code]
but when I use afcuda.lib i get the following:
[code]
I tried to find newer driver version, but I have the latest for my device (v391.35), I guess the issue is for this reason and it won't be fixed unless I work with another device

[2018-12-20 22:34] lstagner commented on #205
I had the same error on Julia 1.0.2. I compiled arrayfire from source and now I get a different error; it segfaults during precompilation on ArrayFire.jl master.
[code]

[2018-12-21 14:40] tvandera opened #228 "Incompatible with Julia 1.0.3"
Seems like many functions changed:
[code]

[2018-12-21 17:39] gaika commented on #228
Yeah, sorry, didn't have time to remap them to their new names. Can you make a PR?

[2018-12-21 17:56] tvandera commented on #228
I'll make a PR. But this will be smtg for 2019.

[2018-12-21 19:31] lstagner commented on #205
For some reason its working now. `¯\_(ツ)_/¯`

[2019-01-07 02:44] gaika commented on #228
fixed all import errors but didn't have time to track down all new julia ways of doing things

[2019-01-07 02:44] #228 closed

[2019-01-15 05:41] Cyvadra commented on #215
still not working for me... I'm sure I've dealt with libmkl*.so, and ran ldconfig...

Julia Version 1.2.0-DEV.28
Commit a0b7a76103 (2018-12-18 02:23 UTC)
Platform Info:
  OS: Linux (x86_64-pc-linux-gnu)
  CPU: Intel(R) Xeon(R) CPU E5-2651 v2 @ 1.80GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-6.0.1 (ORCJIT, ivybridge)

ArrayFire v3.6.2 (OpenCL, 64-bit Linux, build dc38ef1)
[0] NVIDIA: Ge

[2019-01-27 21:23] #217 closed, assigned to nobody

[2019-03-18 23:21] 4lrdyD opened #229 "calling custom C ArrayFire functions in Julia"
I needed write some custom functions in C using the ArrayFire library, the functions basically uses custom OpenCL kernels, for example I have:

[code]
I use this kernel on ArrayFire arrays, so, I write the function:
[Ref: Interoperability with OpenCL ](http://arrayfire.org/docs/interop_opencl.htm).
[code]
I call this function in Julia as follows:
[code]
It works well sometimes, but sometimes it fa

[2019-03-19 03:04] gaika commented on #229
Not sure, but it seems that you are mixing up C++ and C pointers and calling conventions, not an expert, but I'm surprised that it works at all. af_array is a dumb C pointer and af::array is a pointer to a c++ class.

You should use af_array both in Julia and in your C function definition.

Inside your function either construct af::array objects out of af_array or use C version of the arrayfire fu

[2019-03-19 04:32] 4lrdyD commented on #229
I tried something like:
[code]
I don't found another way to get the device pointer from a af_array object, I need that pointer to set the kernel arguments, without this I can not use such kernels.
Thanks for answering, I know this is not exactly a issue.

[2019-03-19 05:33] gaika commented on #229
I might need it someday :)

Have you looked into http://arrayfire.org/docs/group__device__func__mem.htm#ga58fda2d491cd27f31108e699b5aef506

`AFAPI af_err af_get_device_ptr  (  void **  ptr, const af_array  )` ?

[2019-03-19 05:48] 4lrdyD commented on #229
uy... I did not see it, it seems to be what I need, I'll try it and see if it works, I'll come back with news

[2019-03-22 01:08] 4lrdyD commented on #229
I managed to write the code, however I had to make some changes in order to handle `af_array` objects, before to use `af_get_device_ptr` is necessary initialize the memory using `clCreateBuffer`. i.e something like:
[code]
then:
[code]
after this d_B is ready to be used in the Kernel

[code]